<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workline | Oferta</title>
    <script src="/js/desplegableEncabezado.js" defer></script>
    <link rel="stylesheet" href="/css/fragmentosEstilos/desplegableEncabezado.css">
    <link rel="stylesheet" href="/css/fragmentosEstilos/encabezadoEstilo.css">
    <link rel="stylesheet" href="/css/fragmentosEstilos/pieEstilo.css">
    <link rel="stylesheet" href="/css/buscarTrabajoEstilos/detallesOfertaEstilo.css">

</head>
<body>
    <header th:insert="~{/fragmentos/encabezado :: nav}"></header>
    <body>
        <div id="contenedorDetalles">
            <a th:href="@{/ofertasDeTrabajo/0}">Volver atrás</a>
            <div class="nube" id="primeraSeccion">
                <h3 th:text="${oferta.puesto}"></h3>
                <p th:text="${oferta.parsearFecha()}"></p>
                <p th:text="${oferta.nombreEmpresa}"></p>
                <a class="noSuscrito" th:unless="${estaInscrito}" th:href="@{/ofertasDeTrabajo/inscribirse/{ofertaId}(ofertaId=${oferta.id})}">Inscribirse</a>
                <a class="suscrito" th:if="${estaInscrito}" th:href="@{/ofertasDeTrabajo/desinscribirse/{ofertaId}(ofertaId=${oferta.id})}">Desinscribirse</a>
            </div>
            <div id="contenidoOferta">
                <div class="nube">
                    <h3>Características</h3>
                    <ul>
                        <li><p th:text="${oferta.salarioAnual}"></p></li>
                        <li><p th:text="${oferta.ciudad}"></p></li>
                        <li><p th:text="${oferta.tipoContrato}"></p></li>
                        <li><p th:text="${oferta.horas}"></p></li>
                        <li><p th:text="${oferta.modalidadTrabajo}"></p></li>
                    </ul>
                </div>
                <div class="nube">
                    <h3>Descripción</h3>
                    <p th:text="${oferta.descripcion}"></p>
                </div>
                <div class="nube">
                    <h3>Requisitos</h3>
                </div>
            </div>
        </div>
        <div id="contenedorDetallesTelefono">
            <div class="nube" id="primeraSeccion">
                <h3 th:text="${oferta.puesto}"></h3>
                <p th:text="${oferta.parsearFecha()}"></p>
                <p th:text="${oferta.nombreEmpresa}"></p>
                <a class="noSuscrito" th:unless="${estaInscrito}" th:href="@{/ofertasDeTrabajo/inscribirse/{ofertaId}(ofertaId=${oferta.id})}">Inscribirse</a>
                <a class="suscrito" th:if="${estaInscrito}" th:href="@{/ofertasDeTrabajo/desinscribirse/{ofertaId}(ofertaId=${oferta.id})}">Desinscribirse</a>
            </div>
            <div class="nube">
                <h3>Descripción</h3>
                <p th:text="${oferta.descripcion}"></p>
            </div>
            <div id="contenidoOferta">
                <div class="nube">
                    <h3>Características</h3>
                    <ul>
                        <li><p th:text="${oferta.salarioAnual}"></p></li>
                        <li><p th:text="${oferta.ciudad}"></p></li>
                        <li><p th:text="${oferta.tipoContrato}"></p></li>
                        <li><p th:text="${oferta.horas}"></p></li>
                        <li><p th:text="${oferta.modalidadTrabajo}"></p></li>
                    </ul>
                </div>
                <div class="nube">
                    <h3>Requisitos</h3>
                </div>
            </div>
        </div>
    </body>
    <footer th:insert="~{/fragmentos/pie :: nav}"></footer>
</body>
</html>