<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/fragmentos/Wk.ico">
    <script src="/js/desplegableEncabezado.js" defer></script>
    <link rel="stylesheet" href="/css/fragmentosEstilos/desplegableEncabezado.css">
    <link rel="stylesheet" href="/css/fragmentosEstilos/encabezadoEstilo.css">
    <link rel="stylesheet" href="/css/fragmentosEstilos/pieEstilo.css">
    <link rel="stylesheet" href="/css/buscarTrabajoEstilos/indexBuscarTrabajoEstilo.css">
    <link rel="stylesheet" href="/css/buscarTrabajoEstilos/menuLateral.css">
    <script src="/js/buscarTrabajo/menuLateral.js" defer></script>
    <script src="/js/buscarTrabajo/indexBuscarTrabajo.js" defer></script>
    <title>Workline | Ofertas</title>
</head>
<body>
    <header th:insert="~{/fragmentos/encabezado :: nav}"></header>

    <aside id="desplegableOfertas">
        <a id="cerrarBotonOfertas">&times;</a>
        <form action="#" method="get"
                th:object="${busquedaOferta}"
                th:action="@{/ofertasDeTrabajo/0}">

                <a th:href="@{/ofertasDeTrabajo/0}">Borrar Filtros</a>

                <label for="">Puesto</label>
                <input type="text" th:field="*{puestoB}">

                <label for="">Tipo Contrato</label>
                <select th:field="*{tipoContratoB}" >
                    <option selected value="">Selecciona una opción</option>
                    <option th:text="${contrato}" th:value="${contrato}" th:each="contrato:${tiposContrato}"></option>
                </select>

                <label>Sector laboral</label>
                <select name="" id="" th:field="*{sectorB}">
                    <option value="placeholder">Selecciona una opción</option>
                    <option value="" th:value="${sector}" th:text="${sector}" th:each="sector:${listaSectores}"></option>
                </select>

                <label for="">Ciudad</label>
                <input type="text" placeholder="Elige ciudad" th:field="*{ciudadB}">

                <label>Estudios requeridos</label>
                <select name="" id="">
                    <option value="" selected>Selecciona una opción</option>
                    <option ></option>
                </select>

                <label for="">Salario minímo</label>
                <input type="text" th:field="*{salarioAnual}">
                
                <label for="">Modalidad</label>
                <select name="" id="" th:field="*{modalidadB}">
                    <option value="" selected>Selecciona una opción</option>
                    <option th:text="${modalidad}" th:value="${modalidad}" th:each="modalidad:${tiposModalidad}"></option>
                </select>

                <input type="submit" id="ejecutarBusqueda" value="Buscar ofertas">
            </form>
        </aside>
    </aside>
    <div id="botonDesplegableOfertas">Filtrar Ofertas</div>
    <section id="origenOfertas">
        <aside>
            <form action="#" method="get"
                th:object="${busquedaOferta}"
                th:action="@{/ofertasDeTrabajo/0}">
                <a th:href="@{/ofertasDeTrabajo/0}">Borrar Filtros</a>

                <label for="">Puesto</label>
                <input type="text" th:field="*{puestoB}">

                <label for="">Tipo Contrato</label>
                <select th:field="*{tipoContratoB}">
                    <option value="" selected>Selecciona una opción</option>
                    <option th:value="${tipoContrato}" th:text="${tipoContrato}" th:each="tipoContrato:${tiposContrato}"></option>
                </select>

                <label>Sector laboral</label>
                <select name="" id="" th:field="*{sectorB}">
                    <option value="placeholder">Selecciona una opción</option>
                    <option th:value="${sector}" th:text="${sector}" th:each="sector:${listaSectores}"></option>
                </select>

                <label for="">Ciudad</label>
                <input type="text" placeholder="Elige ciudad" th:field="*{ciudadB}">

                <label>Estudios requeridos</label>
                <select name="" id="">
                    <option value="" selected>Selecciona una opción</option>
                    <option ></option>
                </select>

                <label for="">Salario minímo</label>
                <input type="text" th:field="*{salarioAnual}">
                
                <label for="">Modalidad</label>
                <select name="" id="" th:field="*{modalidadB}">
                    <option value="" selected>Selecciona una opción</option>
                    <option th:value="${modalidad}" th:text="${modalidad}" th:each="modalidad:${tiposModalidad}"></option>
                </select>

                <input type="submit" id="ejecutarBusqueda" value="Buscar ofertas">
            </form>
        </aside>
        <div>
            <p hidden th:text="${numPaginas}" id="numPaginas"></p>
            <h2 th:text="${numOfertas} + ' ofertas disponibles'"></h2>
            <section id="listaOfertas">
                <div class="oferta" th:if="${listaOfertas != null}"
                th:each="oferta:${listaOfertas}" th:id="${oferta.id}">
                    <section>
                        <h4 th:text="${oferta.puesto}"></h4>
                        <p th:text="${oferta.ciudad}"></p>
                    </section>
                    <section>
                        <p th:text="${oferta.nombreEmpresa}"></p>
                    </section>
                    <section>
                        <p th:text="${oferta.salarioAnual.intValue()} + ' €'"></p>
                        <p th:text="${oferta.parsearModalidadTrabajo()}">Presencial</p>
                        <p th:text="${oferta.parsearTipoContrato()}"></p>       
                        <p th:text="${oferta.parsearFecha()}"></p>
                    </section>
                </div>
            </section>
            <section id="botonesPaginas">
                <div><button id="anteriorPag" th:if="${numPag != 0}">🡐  Anterior Página</button></div>
                <span></span>
                <div><button id="siguientePag" >Siguiente Página  🡒</button></div>
            </section>
        </div>
    </section>
    <footer th:insert="~{/fragmentos/pie :: nav}"></footer>
</body>
</html>
<!-- <button id="siguientePag" th:if="${numPag < ${numPaginas}}"></button> -->