<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/fragmentosEstilos/encabezadoEstilo.css">
    <link rel="stylesheet" href="/css/fragmentosEstilos/pieEstilo.css">
    <link rel="stylesheet" href="/css/buscarTrabajoEstilos/indexBuscarTrabajoEstilo.css">
    <title>Workline | Ofertas</title>
</head>
<body>
    <header th:insert="~{/fragmentos/encabezado :: nav}"></header>
    <section id="origenOfertas">
        <aside>
            <form action="#" method="post"
            >
                <!-- Si busquedaOfertaId no es igual a null significa que a esta vista ya le llego
                un busquedaOferta y por tanto tiene un id. Al declarar el th:field=*{id} permite
                editar la misma busquedaOferta porque el mismo método que guarda una nueva busquedaOferta
                también sirve para actualizarlo si se le pasa un id ya existente -->
                <input  hidden>
                
                <label for="">Puesto</label>
                <input type="text">

                <label for="">Tipo Contrato</label>
                <select id="elegirSector">
                    <option value="" selected>Selecciona una opción</option>
                    <option  ></option>
                </select>

                <label>Sector laboral</label>
                <select name="" id="" >
                    <option value="placeholder">Selecciona una opción</option>
                    <option ></option>
                </select>

                <label for="">Ciudad</label>
                <input type="text" placeholder="Elige ciudad">

                <label>Estudios requeridos</label>
                <select name="" id="">
                    <option value="" selected>Selecciona una opción</option>
                    <option ></option>
                </select>

                <label for="">Salario minímo</label>
                <input type="text" >
                
                <label for="">Modalidad</label>
                <select name="" id="" >
                    <option value="" selected>Selecciona una opción</option>
                    <option ></option>
                </select>

                <input type="submit" id="ejecutarBusqueda" value="Buscar ofertas">
            </form>
        </aside>
        <div>
            <h2>Número Ofertas</h2>
            <section id="listaOfertas">
                <div class="oferta">
                    <section>
                        <h4>Puesto</h4>
                        <p>Ciudad</p>
                    </section>
                    <section>
                        <p>Nombre Empresa</p>
                    </section>
                    <section>
                        <p>15000</p>
                        <p>modalidad trabajo</p>
                        <p>tipo contrato</p>       
                        <p>fecha publicación</p>
                    </section>
                </div>
            </section>
        </div>
    </section>
    <footer th:insert="~{/fragmentos/pie :: nav}"></footer>
</body>
</html>