body{
    background-color: #F5F5F5;
}

.nube{
    background-color: white;
    margin: 10px;
    padding: 15px 20px;
    border-radius: 15px;
}

main{
    width: 80%;
    margin: 0% auto;
}

#cabeceraAjustes{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;

    padding: 0% 0.5%;
    margin: 2% 5% 1%;
}

#cabeceraAjustes > h1{
    font-weight: normal;
    font-size: 30px;

    margin: 2% 0%;
}

#cabeceraAjustes > a{
    text-decoration: none;
    color: black;
    font-size: 20px;

    background-color: transparent;
    width: max-content;

    padding: 0%;
    margin: 0%;


    justify-self: end;
}

#contenedor{
    margin: 0% 5%;
}

#contenedor > h5{
    margin: 0% 0% 2%;
    font-size: 24px;
    font-weight: normal;
}

#contenedor > p{
    font-size: 20px;
}

#contenedor > form > *{
    display: block;
}

#contenedor > form > input{
    width: 30%;
    border: 0px;
    border-bottom: solid 1px black;
    margin-bottom: 1%;
    font-size: 20px;
}

#contenedor > form > input#confirmarPassword ,main > section > a{
    cursor: pointer;
    border: 0px;

    text-decoration: none;
    background-color: green;
    color: white;
    font-size: 19px;

    padding: 0.7% 1.2%;
    margin-right: 1.7%;
    border-radius: 8px;
}

.mensajeError{
    font-size: 22px;
    color:red;
}

.inputError{
    border-bottom: solid 1px red;
}

#errorConfirmarPassword{
    font-size: 20px;
    color:red;
}

@media screen and (max-width:1200px) {
    #contenedor > form > input{
        width: 50%;
    }
}

@media screen and (max-width:700px) {
    #contenedor > form > input{
        width: 80%;
    }
}