body{
    background-color: #F5F5F5;
}

main{
    width: 70%;
    margin: 20px auto;
}

#cabeceraAjustes{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;

    padding: 0% 0.5%;
}

#cabeceraAjustes > h1{
    font-weight: normal;
    font-size: 30px;

    margin: 2% 0%;
}

#cabeceraAjustes > a{
    text-decoration: none;
    color: black;
    font-size: 20px;

    justify-self: end;
}

main > #formularioDatos{
    background-color: white;
    border-radius: 10px;
    padding: 2% 3%;

    display: grid;
    grid-template-columns: 50% 50%;
}

#formularioDatos > div{
    margin-top: 10px;
    padding: 0px;
}

#formularioDatos > div > *{
    display: block;
}

#formularioDatos label{
    margin-bottom: 2%;
    font-size: 25px;
}


#formularioDatos input{
    border: 0px;
    border-bottom: solid 1px black;
    font-size: 18px;
    margin-bottom: 0%;
    width: 50%;
}

#formularioDatos select{
    margin-top: 8px;
    margin-bottom: 5px;
    border: 0px;
    border-bottom: solid 1px black;
    font-size: 18px;
}

#formularioDatos > div > p.mensajeError{
    display: none;
    margin-top: -10px;
    color: rgb(244, 54, 54);
    font-size: 18px;
    padding-right: 10px;
}

#formularioDatos p.mensajeError + p.mensajeError{
    margin-top: -15px;
}

#formularioDatos input + label{
    margin-top: 15px;
}

.inputError{
    border-bottom: solid 1px rgb(244, 54, 54) !important;
}

.usuarioError{
    font-size: 20px;
    color: red;
    margin-top: 2%;
}

#formularioDatos > div:last-of-type{
    margin: 0px 30px;
    padding:0px;
    grid-column: 1/3;
}

#formularioDatos > div:last-of-type > #editarUsuario{
    width: 25%;
    margin: 2% 0% 0% auto;
    padding: 10px;
    border: 0px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;

    background-color: green;
    color: white;
}

@media screen and (max-width:1200px) {
    main{
        width: 85%;
    }

    #formularioDatos input{
        width: 75%;
    }

    #formularioDatos > div:last-of-type > #editarUsuario{
        width:35%;
    }
}

@media screen and (max-width:700px) {
    main{
        width: 80%;
    }

    main > #formularioDatos{
        grid-template-columns: 100%;
        padding: 2% 0% 2% 7%;
    }

    #formularioDatos input{
        width: 90%;
    }

    #formularioDatos > div:last-of-type{
        grid-column: 1/1;
    }

    #formularioDatos > div:last-of-type > #editarUsuario{
        width:70%;
    }
}