body{
    background-color: #F5F5F5;
}

/* Enlace para vista candidato contrata */
#volverAtras{
    margin-left: 1%;
    color: black;
    text-decoration: none;
    font-size: 20px;
}

main{
    width: 80%;
    margin: 30px auto;
}

main > h1{
    font-weight: normal;
}

#cabeceraAjustesPerfil{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 30px;
}

#cabeceraAjustesPerfil h1, #ofertasSuscrito h1{
    margin: 0px 0px;
    padding-left: 10px;
    font-weight: normal;
    font-size: 30px;
}

#cabeceraAjustesPerfil div{
    margin: 0px;
    padding-right: 10px;
}

#cabeceraAjustesPerfil  a{
    float: right;
}

.nube{
    background-color: white;
    margin: 10px;
    padding: 15px 20px;
    border-radius: 15px;
}

.nube h2{
    font-weight: normal;
    font-size: 26px;
    margin-top: 0px;
    margin-bottom: 5px;
}

#perfilNombre p{
    margin: 10px 0px;
}

#perfilNombre > p:first-of-type{
    font-size: 22px;
}

#perfilNombre > p:last-of-type{
    font-size: 19px;
}

#perfilDatos{
    display: grid;
    grid-template-columns: 50% 50%;
}

#perfilDatos h2{
    grid-column:span 2;
    margin-bottom: 0px;
}

#perfilDatos label{
    font-size: 21px;
    margin-bottom: 0px;
}

#perfilDatos p{
    font-size: 20px;
    margin-top: 7px;
}

#perfilDatos > div{
    margin-top: 10px;
}

#perfilDatos > a{
    /* grid-column: 1/3; */
    text-decoration: none;
    font-size: 18px;
    color: white;

    padding: 1% 1.5%;
    border-radius: 8px;
}

#perfilDatos > a:first-of-type{
    background-color: green;
    justify-self: start;
}

#perfilDatos > a:last-of-type{
    background-color: rgb(231, 12, 12);
    justify-self: end;
}

#listasEntidades{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: start;
}

#listasEntidades > div.nube > div.cabeceraEntidad{
    display: grid;
    grid-template-columns: 84% 16%;
    margin-bottom: 10px;
}

#listasEntidades > div.nube > div.cabeceraEntidad > a{
    justify-self: end;
    align-self: center;
}

#listasEntidades > div.nube > ul{
    list-style: none;
    padding-left: 1%;
    margin: 0px 0px 15px;
}

.elementoEntidad{
    margin: 10px 0px 20px;
}

.elementoEntidad > div:first-of-type{
    display: grid;
    grid-template-columns: 88% 7% 5%;
}

.elementoEntidad h3{
    font-weight: normal;
    font-size: 23px;
    margin: 0px 0px 5px;
}

.elementoEntidad > p:first-of-type{
    display: block;
    font-size: 20px;
    margin: 0px 0px 5px;
}

.elementoEntidad > p{
    display: inline;
    font-size: 18px;
}

.sinEntidad{
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
}

.sinEntidad > *{
    text-align: center;
}

.sinEntidad h3{
    margin: 0% 0% 2%;
    font-weight: normal;
    font-size: 23px;
}

.sinEntidad a{
    font-size: 19px;
    color: black;
}

#ofertasSuscrito{
    margin: 1% 0%;

    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    gap:2.5%
}

#ofertasSuscrito h1{
    grid-column: 1/5;
    text-align: center;
}

.oferta{
    padding: 0px;
    cursor: pointer;
}

.oferta div{
    background-color: green;
    border-radius: 8px 8px 8px 0px;
    padding: 2% 3%;
}

.oferta h4, .oferta h5{
    margin: 0%;
    font-weight: normal;
    font-size: 23px;
    color: white;
}

.oferta h5{
    font-size: 20px;
}

.oferta ul{
    padding-left: 20px;
    margin-top: 0px;
    margin-left: 17px;
    margin-bottom: 0px;

    font-size: 18px;
}

.oferta li{
    list-style: url("/images/linea.png");
}

.suscrito{
    text-decoration: none;
    color: white;
    font-size: 18px;

    padding: 8px 25px;
    background-color: #e52020;
    border-radius: 5px;

    float: right;
    margin: 3% 4%;
}


@media screen and (max-width:1200px) {
    main{
        width: 88%;
    }

    #listasEntidades > div.nube > div.cabeceraEntidad > img{
        align-self:auto;
    }

    .elementoEntidad > div:first-of-type{
        grid-template-columns: 70% 15% 15%;
    }

    .elementoEntidad > div:first-of-type > a{
        justify-self: end;
    }

    #ofertasSuscrito{
        grid-template-columns: 48% 48%;
        gap:4%;
        margin-bottom: 5%;
    }

    #ofertasSuscrito h1{
        grid-column: 1/3;
    }

    #perfilDatos a{
        padding: 1.2% 2%;
    }
}

@media screen and (max-width:700px) {
    #cabeceraAjustesPerfil{
        grid-template-columns: 80% 20%;
    }

    #perfilDatos{
        grid-template-columns: 100%;
    }

    #perfilDatos h2, #perfilDatos a{
        grid-column: 1/1;
    }

    #perfilDatos a{
        padding: 2% 4%;
    }

    #listasEntidades{
        grid-template-columns: 100%;
    }

    #ofertasSuscrito{
        grid-template-columns:100%;
        gap:0%;
    }

    #ofertasSuscrito h1{
        grid-column: 1/1;
    }
}
