body{
    background-color: #F5F5F5;
}

main{
    width: 80%;
    margin: 30px auto;
}

main > h1{
    font-weight: normal;
}

#cabeceraAjustesPerfil{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 30px;
}

#cabeceraAjustesPerfil h1{
    margin: 0px 0px;
    padding-left: 10px;
    font-weight: normal;
    font-size: 30px;
}

#cabeceraAjustesPerfil div{
    margin: 0px;
    padding-right: 10px;
}

#cabeceraAjustesPerfil  a{
    float: right;
}

.contenedorDatos{
    background-color: white;
    margin: 10px;
    padding: 15px 20px;
    border-radius: 15px;
}

.contenedorDatos h2{
    font-weight: normal;
    font-size: 26px;
    margin-top: 0px;
    margin-bottom: 5px;
}

#perfilNombre p{
    margin: 10px 0px;
}

#perfilNombre > p:first-of-type{
    font-size: 22px;
}

#perfilNombre > p:last-of-type{
    font-size: 19px;
}

#perfilDatos{
    display: grid;
    grid-template-columns: 50% 50%;
}

#perfilDatos h2{
    grid-column:span 2;
    margin-bottom: 0px;
}

#perfilDatos label{
    font-size: 21px;
    margin-bottom: 0px;
}

#perfilDatos p{
    font-size: 20px;
    margin-top: 7px;
}

#perfilDatos > div{
    margin-top: 10px;
}

#listasEntidades{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: start;
}

#listasEntidades > div.contenedorDatos > div.cabeceraEntidad{
    display: grid;
    grid-template-columns: 84% 16%;
    margin-bottom: 10px;
}

#listasEntidades > div.contenedorDatos > div.cabeceraEntidad > a{
    justify-self: end;
    align-self: center;
}

#listasEntidades > div.contenedorDatos > ul{
    list-style: none;
    padding-left: 1%;
    margin: 0px 0px 15px;
}

.elementoEntidad{
    margin: 10px 0px 20px;
}

.elementoEntidad > div:first-of-type{
    display: grid;
    grid-template-columns: 88% 7% 5%;
}

.elementoEntidad h3{
    font-weight: normal;
    font-size: 23px;
    margin: 0px 0px 5px;
}

.elementoEntidad > p:first-of-type{
    display: block;
    font-size: 20px;
    margin: 0px 0px 5px;
}

.elementoEntidad > p{
    display: inline;
    font-size: 18px;
}

.sinEntidad{
    text-align: center;
    font-size: 20px;
}

@media screen and (max-width:1200px) {
    main{
        width: 88%;
    }

    #listasEntidades > div.contenedorDatos > div.cabeceraEntidad > img{
        align-self:auto;
    }

    .elementoEntidad > div:first-of-type{
        grid-template-columns: 70% 15% 15%;
    }

    .elementoEntidad > div:first-of-type > a{
        justify-self: end;
    }
}

@media screen and (max-width:700px) {
    #cabeceraAjustesPerfil{
        grid-template-columns: 80% 20%;
    }

    #perfilDatos{
        grid-template-columns: 100%;
    }

    #perfilDatos h2{
        grid-column: 1/1;
    }

    #listasEntidades{
        grid-template-columns: 100%;
    }
}
