body{
    background-color: #F5F5F5;
}

main{
    width: 70%;
    margin: 30px auto;
}

main > form{
    display: grid;
    grid-template-columns: 50% 50%;

    background-color: white;
    border-radius: 10px;
    padding:15px 30px;
}

main > form > h1{
    grid-column: span 2;
    font-weight: normal;
    margin-top: 0px;
}

main > form > div > input{
    display: block;
}

main > form label{
    margin-bottom: 5px;
    font-size: 23px;
}

main > form input{
    border: 0px;
    border-bottom: solid 1px black;
    font-size: 15px;
    margin-bottom: 18px;
    width: 50%;
}

.falloConocimiento,.falloExperiencia{
    display: none;
    margin-top: -10px;
    color: rgb(244, 54, 54);
    font-size: 18px;
    padding-right: 10px; 
}

.inputError{
    border-bottom: solid 1px rgb(244, 54, 54) !important;
}

main > form p.mensajeError + p.mensajeError{
    margin-top: -15px;
}

main > form input + label{
    margin-top: 15px;
}


main > form > div:last-of-type{
    margin: 30px 0px 0px;
    padding:0px;
    grid-column: 1/3;
}

.subirEntidad{
    width: 25%;
    margin-left: auto;
    padding: 10px;
    border: 0px;
    cursor: pointer;
    font-size: 16px;
}

#conocimientosContenedor{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 15px;
}

#conocimientosContenedor > h1{
    grid-column: span 2;
    font-weight: normal;
    text-align: center;
}

.conocimiento{
    background-color: white;
    border-radius: 10px;
    padding: 15px 20px;
}

.conocimiento > h3{
    font-weight: normal;
    font-size: 25px;
    margin: 0px;
}

.conocimiento > p{
    display: inline;
    font-size: 18px;
    margin: 10px 0px;
}

.conocimiento > p:first-of-type{
    display: block;
    font-size: 20px;
}

@media screen and (max-width:1400px) {
    main{
        width: 80%;
    }
    main > form input{
        width: 80%;
    }
}

@media screen and (max-width:700px) {
    main > form, #conocimientosContenedor{
        grid-template-columns: 100%;
    }

    main > form h1, main > form > div:last-of-type {
        grid-column: 1/1;
    }
    
    main > form > div:last-of-type > #subirConocimiento{
        width: 70%;
    }
}