<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workline | Nuevo Usuario</title>
    <link rel="stylesheet" href="/css/nuevoUsuarioEstilos/primeraVistaEstilo.css">
</head>
<body>
    <div id="contenedorPadre">
        <h2>Crea tu cuenta en Workline</h2>
        <h3>¡Solo te llevará unos segundos!</h3>
        <form action="" method="post" id="primerFormulario"
            th:object="${nuevoUsuario}"
            th:action="@{/nuevoUsuario/procesarUsuario}">
            <div>
                <label for="">Nombre de usuario</label>
                <input type="text" th:field="*{nombre}">

                <label for="">Email</label>
                <input type="text" th:field="*{email}">
            </div>
            <span></span>
            <div>
                <label for="">Ciudad en la que vives</label>
                <input type="text" th:field="*{ciudad}">
  
                <label for="">Teléfono (Opcional)</label>
                <input type="text" th:field="*{telefono}">
            </div>
            
        </form>
    </div>
</body>
</html>