<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workline | Nueva Cuenta</title>
    <script src="/js/nuevoUsuario/segundaVista.js" defer></script>
    <link rel="stylesheet" href="/css/nuevoUsuarioEstilos/segundaVistaEstilo.css">
</head>
<body>
    <section>
        <h1>Bienvenido </h1><h1 th:text="${nuevoBusca.getNombre()}"></h1>
    </section>
    
    <h2>Cuentanos un poco sobre ti</h2>
    <div id="contenedorPadre">
        
        <div class="formularioContenedor">

            <h3>¿Que conocimientos tienes?</h3>
    
            <form action="#" method="post" id="formNuevoBuscaConocimiento"
            th:action="@{/nuevoUsuario/segundaVista/subirConocimiento/{idBusca}(idBusca=${nuevoBusca.getId()})}"
            th:object="${nuevoConocimiento}">
                <input type="text" th:field="*{id}" hidden>
    
                <label for="">Titulo</label>
                <input type="text" th:field="*{titulo}" class="conocimientoInput" maxlength="40">
                <span id="tituloFallo" class="mensajeError" hidden> El título no puede tener más de 40 carácteres y no puede ser nulo</span>
    
                <label for="">Centro Educativo</label>
                <input type="text" th:field="*{centroEducativo}" class="conocimientoInput" maxlength="40">
                <span id="centroFallo" class="mensajeError" hidden> El centro educativo no puede tener más de 40 carácteres y no puede ser nulo</span>
    
                <label for="">Inicio Estudios</label>
                <input type="date" th:field="*{inicioPeriodoConocimiento}" class="conocimientoInput">
                <span id="fechaInicioConocimientoFallo" class="mensajeError" hidden> La fecha debe estar en formato dd-mm-yyyy y no puede ser nulo</span>
                
    
                <label for="">Fin Estudios</label>
                <input type="date" th:field="*{finPeriodoConocimiento}" class="conocimientoInput">
                <span id="fechaFinConocimientoFallo" class="mensajeError" hidden> La fecha debe estar en formato dd-mm-yyyy y no puede ser nulo</span>
                <span id="fechaFinConocimientoFalloDos" class="mensajeError" hidden> La fecha de inicio no puede ser superior a la final</span>
            
                <input type="submit" value="Subir" id="subirConocimiento" class="subirEntidad">
            </form>
    
            <p th:if="${#lists.isEmpty(listaConocimientos)}" class="sinEntidad">No has registrado ningún conocimiento</p>
            <table th:unless="${#lists.isEmpty(listaConocimientos)}">
                <tr>
                    <th>Titulo</th>
                    <th>Centro Educativo</th>
                    <!-- <th>Inicio estudios</th>
                    <th>Fin estudios</th> -->
                </tr>
                <tr th:each="conocimiento:${listaConocimientos}">
                    <td th:text="${conocimiento.id}" hidden></td>
                    <td th:text="${conocimiento.titulo}"></td>
                    <td th:text="${conocimiento.centroEducativo}"></td>
                    <!-- <td th:text="${conocimiento.inicioPeriodoConocimiento}"></td>
                    <td th:text="${conocimiento.finPeriodoConocimiento}"></td> -->
                    <td><a class="borrarEntidad" th:href="@{/nuevoUsuario/segundaVista/{idBusca}/borrarNuevoConocimiento/{idConocimiento}(idConocimiento=${conocimiento.id}, idBusca=${nuevoBusca.getId()})}">
                        <img src="/images/borrar.png" alt="delete">
                    </a></td>
                </tr>
            </table>
        </div>
        
        <div class="formularioContenedor">
            <h3>¿Que experiencias laborales tienes?</h3>
            <form action="#" method="post" id="formNuevoBuscaExperiencia"
                th:action="@{/nuevoUsuario/segundaVista/subirExperiencia/{idBusca}(idBusca=${nuevoBusca.getId()})}"
                th:object="${nuevaExperiencia}">
                <input type="text" th:field="*{id}" hidden>
    
                <label for="">Puesto</label>
                <input type="text" th:field="*{puesto}" class="experienciaInput" maxlength="40">
                <span id="puestoError" class="mensajeError" hidden>El puesto no puede tener más de 40 carácteres ni ser nulo</span>
    
                <label for="">Empresa</label>
                <input type="text" th:field="*{empresa}" class="experienciaInput" maxlength="40">
                <span id="empresaError" class="mensajeError" hidden>La empresa no puede tener más de 40 carácteres ni ser nulo</span>
    
                <label for="">Inicio experiencia</label>
                <input type="date" th:field="*{inicioExperiencia}" class="experienciaInput" >
                <span id="inicioExperienciaError" class="mensajeError" hidden>La fecha debe estar en formato dd/mm/yyyy y no puede ser nula</span>
                
    
                <label for="">Fin experiencia</label>
                <input type="date" th:field="*{finExperiencia}" class="experienciaInput" >
                <span id="finExperienciaError" class="mensajeError" hidden>La fecha debe estar en formato dd/mm/yyyy y no puede ser nula</span>
                <span id="falloFechasExperiencia" class="mensajeError" hidden>La fecha de inicio no puede ser superior a la del fin</span>
    
                <input type="submit" value="Subir" id="subirExperiencia" class="subirEntidad">
            </form>
            <p th:if="${#lists.isEmpty(listaExperiencias)}" class="sinEntidad">No has registrado ninguna experiencia</p>
            <table th:unless="${#lists.isEmpty(listaExperiencias)}">
                <tr>
                    <th>Puesto</th>
                    <th>Empresa</th>
                    <!-- <th>Inicio experiencia</th>
                    <th>Fin experiencia</th> -->
                </tr>
                <tr th:each="experiencia:${listaExperiencias}">
                    <td th:text="${experiencia.id}" hidden></td>
                    <td th:text="${experiencia.puesto}">Abogado <br> </td>
                    <td th:text="${experiencia.empresa}">Soluciones Fiscales S.L</td>
                    <!-- <td th:text="${experiencia.inicioExperiencia}"></td>
                    <td th:text="${experiencia.finExperiencia}"></td> -->
                    <td><a class="borrarEntidad" th:href="@{/nuevoUsuario/segundaVista/{idBusca}/borrarNuevaExperiencia/{idExperiencia}(idExperiencia=${experiencia.id}, idBusca=${nuevoBusca.getId()})}">
                        <img src="/images/borrar.png" alt="delete">
                    </a></td>
                </tr>
            </table>
        </div>
        <a id="terminar" th:href="@{/}"> Terminar</a>
    </div>
    
</body>
</html>