<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workline | Editar Perfil</title>
    <link rel="icon" type="image/x-icon" href="/images/fragmentos/Wk.ico">
    <script src="/js/desplegableEncabezado.js" defer></script>
    <link rel="stylesheet" href="/css/fragmentosEstilos/desplegableEncabezado.css">
    <link rel="stylesheet" href="/css/fragmentosEstilos/encabezadoEstilo.css">
    <link rel="stylesheet" href="/css/fragmentosEstilos/pieEstilo.css">
    <link rel="stylesheet" href="/css/usuarioPerfilEstilos/editarPerfilEstilos.css">
    <script type="module" src="/js/usuarioPerfil/actualizarDatosPerfil.js" defer></script>
</head>
<body>
    <header th:insert="~{/fragmentos/encabezado :: nav}"></header>
    <main>
        <section id="cabeceraAjustes">
            <h1>Ajustes de Cuenta </h1>
            <a th:href="@{/miPerfil/contrata/}">Volver atrás</a>
        </section>
        <form method="post" id="formularioDatos" 
            th:action="@{/miPerfil/contrata/editarDatos/submit}"
            th:object="${contrataLogueado}">

                <input type="text" th:field="*{id}" hidden>
                <input type="text" th:field="*{rol}" hidden>
        
                <div>
                    <label for="">Nombre de usuario</label>
                    <input type="text" th:field="*{nombre}" class="usuarioInput" maxlength="25">
                    <p hidden class="usuarioError"></p>
    
                    <label for="">Email</label>
                    <input type="text" th:field="*{email}" class="usuarioInput" maxlength="35">
                    <p hidden class="usuarioError"></p>
                </div>

                <div>
                    <label for="">Teléfono</label>
                    <input type="text" th:field="*{telefono}" class="usuarioInput" maxlength="9">
                    <p hidden class="usuarioError"></p>

                    <label for="">Ciudad en la que vives</label>
                    <input type="text" th:field="*{ciudad}" class="usuarioInput">
                    <p hidden class="usuarioError"></p>
                </div>
                
                <div>
                    <input type="submit" value="Confirmar cambios" id="editarUsuario">
                </div>
            </form>
        </main>
        <footer th:insert="~{/fragmentos/pie :: nav}"></footer>
    </body>
</html>
