
body{
    background-color: #F5F5F5;
}

main{
    width: 70%;
    margin: 40px auto;
}

main > a:first-child{
    text-decoration: none;
    color: black;
    font-size: 21px; 
}

main > a:last-of-type{
    float: right;
    padding: 0px;

    background-color: #F5F5F5;
    text-decoration: none;
    color: black;
    font-size: 21px;
    cursor: pointer;

    border: 0px;
}

.nube{
    background-color: white;
    padding: 3.2%;
    border-radius: 8px;
}



#contenidoOferta > #infoOferta{
    margin-top: 2%;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: 50% 50%;
}

#infoOferta label{
    font-size: 23px;
}

#infoOferta p{
    font-size: 20px;
    margin-top: 5px;
    border-bottom: solid 1px black;
    width: 50%;
}


#descripcion{
    margin-top: 2%;
    grid-column: 1/3;
    padding: 1.7% 2.5%;
}

#descripcion > *{
    display: block;
}

#descripcion h3{
    margin: 0% 0% 2%;

    font-weight: normal;
    font-size: 25px;
}

#descripcion textarea{
    width: 100%;
    border: 0px;

    font-size: 18px;
}


#candidatos{
    display: grid;
    grid-template-columns: 32% 32% 32%;
    gap: 2.7%;
    margin: 30px auto;
    justify-items: center;
}

#candidatos > h2{
    grid-column: 1/4;
    font-weight: normal;
    font-size: 25px;
}

#candidatos > div{
    cursor: pointer;
    
    width: 96%;
    background-color: white;
    border-radius: 8px;

    padding: 0px;
}

#candidatos h3{
    background-color: rgb(29, 119, 214);
    color:white;

    font-weight: normal;
    font-size: 23px;

    margin: 0px;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;

    border-radius: 8px 8px 8px 0px;
}

#candidatos ul{
    list-style:url("/images/linea.png");
    padding-top: 0px;
    padding-left: 7%;
    margin-top: 0px;
    margin-left: 17px;
    margin-right: 15px;

    font-size: 20px;
    word-wrap: break-word;
}


p.mensajeError{
    margin-top: 0px;
    color: rgb(244, 54, 54);
    font-size: 18px;
    padding-right: 10px;
    display: none;
}

.descripcionError{
    border: solid 1px red;
}

.inputError{
    border-bottom: solid 1px rgb(244, 54, 54) !important;
}

@media screen and (max-width:1200px) {
    #contenidoOferta #infoOferta{
        grid-row: 1/1;
        grid-column: 1/3;
    }

    #descripcion{
        margin-bottom: 3%;
    }

    main{
        width: 90%;
    }

    main #oferta input, main #oferta select{
        width: 75%;
    }

    main #oferta textarea{
        width: 85%;
    }

    main #oferta input#subirCambios{
        width: 60%;
    }
}

@media screen and (max-width:700px) {
    main #oferta{
        grid-template-columns: 100%;
    }

    #contenidoOferta > #infoOferta{
        grid-template-columns: 80%;
        justify-content: center;
    }

    #contenidoOferta label{
        font-size: 21px;
    }

    #contenidoOferta p{
        width: 85%;
    }

    #descripcion{
        margin-bottom: 80px;
    }

    #candidatos{
        grid-template-columns: 100%;
    }

    #candidatos h2{
        grid-column: 1/1;
        margin-top: -3.5%;
    }

    
}