body{
    background-color: #F5F5F5;
}

main > h1{
    text-align: center;
    font-weight: normal;
    font-size: 35px;
    margin-bottom: 10px;
    height: min-content;
}

main > h2{
    text-align: center;
    font-weight: normal;
    font-size: 30px;
    margin: 20px auto 65px;
    padding-bottom: 15px;

    width: 79%;
    border-bottom: solid 1px green;
}

#contenedorOfertas{
    width: 80%;
    margin: 0px auto;

    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: center;
}

#contenedorOfertas > div:first-child{
    grid-column: 1/5;
    margin-bottom: 25px;
    justify-self: end;
}

#contenedorOfertas > div:first-child > a{
    text-decoration: none;

    margin-left: 10px;
    margin-right: 15px; 
    padding: 10px 15px;

    font-size: 20px;
    color: white;
    background-color: green;
    border-radius: 35px;
}

.oferta{
    background-color: white;
    border-radius: 8px;
    margin: 15px;
    cursor: pointer;
}

.oferta > .cabeceraOferta{
    display: grid;
    grid-template-columns: 72% 14% 14%;
    align-items: center;

    border-radius: 8px;
    background-color: green;
}

.oferta .cabeceraOferta a{
    justify-self: center;
}

.oferta h4{
    border-radius: 8px 8px 0px 0px;
    margin: 0px;
    padding: 10px 0px 10px 15px;

    font-weight: normal;
    font-size: 25px;
    color: white;
    background-color: green;
}

.oferta > section{
    display: grid;
    grid-template-columns: 50% 50%;
}


.oferta ul{
    padding-left: 20px;
    margin-top: 0px;
    margin-left: 17px;
    margin-bottom: 0px;

    font-size: 20px;
}

.oferta li{
    list-style: url("/images/linea.png");
}

.oferta > section:nth-child(3) > div{
    grid-column: 1/3;
    padding: 2% 3%;
    margin: -5% 4% 3%;
    width: 15%;
    margin-left: auto;
    background-color: green;
    border-radius: 40px;

    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: end;
    align-items: start;
}


.oferta > section:nth-child(3) p{
    margin: 0px;
    font-size: 23px;
    text-align: center;
    color: white;
}


#botonesPaginas{
    display: grid;
    grid-template-columns:49% 2% 49%;
    background-color: #F5F5F5;
    margin-bottom: 40px;
    margin-top: 30px;
}

#botonesPaginas div:first-child{
    justify-self: end;
}

#botonesPaginas span{
    justify-content: center;
}

#botonesPaginas a{
    padding: 12px 25px;
    background-color: green;
    border-radius: 5px;
    border: 0px;
    cursor: pointer;

    color: white;
    text-decoration: none;
    font-size: 22px;
}

@media screen and (max-width:1500px) {
    #contenedorOfertas{
        width: 90%;
        grid-template-columns: 50% 50%;
    }

    #contenedorOfertas > div:first-child{
        grid-column: 1/3;
    }
    .oferta .cabeceraOferta{
        display: grid;
        grid-template-columns: 68% 16% 16%;
        align-items: center;
    
        background-color: green;
    }
}

@media screen and (max-width:700px) {
    #contenedorOfertas{
        width: 85%;
        grid-template-columns: 100%;
    }

    #contenedorOfertas > div:first-child{
        grid-column: 1/1;
    }

    h2{
        margin-top: 10px;
        margin-bottom: 40px;
    }

    #botonesPaginas{
        grid-template-columns: 100%;
        justify-content: center ;
        width: 77%;
        margin: 10px auto 30px;
    }

    #botonesPaginas > div:first-child > a:first-child{
        padding: 12px 30px;
    }

    #botonesPaginas div{
        padding: 8px 12px;
        font-size: 20px;
        margin: 10px auto;
    }
}