body{
    background-color: #F5F5F5;
}

main{
    width: 65%;
    margin: 40px auto;
}

main > a:first-child{
    text-decoration: none;
    color: black;
    font-size: 21px;
    
}

main > button:first-of-type{
    float: right;
    padding: 0px;

    background-color: #F5F5F5;
    text-decoration: none;
    color: black;
    font-size: 21px;
    cursor: pointer;

    border: 0px;
}


.nube{
    background-color: white;
    margin: 15px auto;
    border-radius: 8px;
    padding: 2% 3%;
}

#primeraSeccion{
    display: grid;
    grid-template-columns: 50% 50%;
}

#primeraSeccion > div > *{
    display: block;
}


#segundaSeccion{
    display: grid;
    grid-template-columns: 100%;
}

#segundaSeccion textarea{
    border: 0px;
    border-bottom: solid 1px black;
    width: 100%;
    height: 90px;
    resize: none;
    font-size: 15px;
    margin-bottom: 30px
}

main form label{
    margin-bottom: 5px;
    font-size: 23px;
    width: 60%;
}


main form input,main form select{
    font-size: 16px;
    border: 0px;
    border-bottom: solid 1px black;
    margin: 10px 0px 20px;
    color: black;
    width: 40%;
}

main form select{
    font-size: 16px;
}

form input#subirCambios{
    display: none;
    width: 35%;

    background-color: green;
    color: white !important;
    font-size: 18px;

    padding:10px 15px;
    margin:20px 0px 0px;
    border: 0px;
    cursor: pointer;
}

p.mensajeError{
    margin-top: 0px;
    color: rgb(244, 54, 54);
    font-size: 18px;
    padding-right: 10px;
    display: none;
}

.descripcionError{
    border-bottom: solid 1px red;
}

.inputError{
    border-bottom: solid 1px rgb(244, 54, 54) !important;
}

@media screen and (max-width:1200px) {
    main{
        width: 90%;
    }

    main form input, main form select{
        width: 75%;
    }

    main form textarea{
        width: 85%;
    }

    main form input#subirCambios{
        width: 60%;
    }
}

@media screen and (max-width:700px) {
    main form{
        grid-template-columns: 100%;
    }

    #descripcion{
        margin-bottom: 80px;
    }
}