body{
    background-color: #F5F5F5;
}

main{
    width: 65%;
    margin: 40px auto;
}

main > a:first-child{
    text-decoration: none;
    color: black;
    font-size: 21px;
}

main > button:first-of-type{
    float: right;
    padding: 0px;

    background-color: #F5F5F5;
    text-decoration: none;
    color: black;
    font-size: 21px;
    cursor: pointer;

    border: 0px;
}


.nube{
    background-color: white;
    margin: 15px auto;
    border-radius: 8px;
    padding: 2% 3%;
}

#primeraSeccion{
    display: grid;
    grid-template-columns: 50% 50%;
}

#primeraSeccion > div > *{
    display: block;
}

#primeraSeccion input, #primeraSeccion select{
    font-size: 16px;
    border: 0px;
    border-bottom: solid 1px black;

    color: black;
    font-size: 18px;
    width: 60%;
}

#primeraSeccion label, #segundaSeccion label{
    font-size: 24px;
    margin-bottom: 2%;
    margin-top: 4%;
}

#primeraSeccion > div > label:first-of-type{
    margin-top: 0%;
}

#primeraSeccion > #subirOferta{
    grid-column: 1/3;
    width: 25%;
    justify-self: end;

    background-color: green;
    color: white !important;
    font-size: 18px;

    padding:10px 15px;
    margin: 0px;
    border: 0px;
    border-radius: 8px;
    cursor: pointer;
}

.falloOferta, .falloOfertaSelect{
    width: 80%;
    margin-top: 1%;
    margin-bottom: 2%;

    font-size: 20px;
    color:red;
}

#segundaSeccion{
    display: grid;
    grid-template-columns: 100%;
}

#segundaSeccion label{
    margin-top: 0%;
}

#segundaSeccion textarea{
    border: 0px;
    border-bottom: solid 1px black;
    width: 100%;
    height: 90px;
    resize: none;
    font-size: 21px;
}

#segundaSeccion .falloOferta{
    width: 100%;
}




p.mensajeError{
    margin-top: 0px;
    color: rgb(244, 54, 54);
    font-size: 18px;
    padding-right: 10px;
    display: none;
}

.inputError{
    border-bottom: solid 1px red;
}

@media screen and (max-width:1200px) {
    main{
        width: 90%;
    }

    main form input, main form select{
        width: 75%;
    }

    main form textarea{
        width: 85%;
    }

    main form input#subirCambios{
        width: 60%;
    }
}

@media screen and (max-width:700px) {
    main form{
        grid-template-columns: 100%;
    }

    #descripcion{
        margin-bottom: 80px;
    }
}