body{
    margin: 0px;
}

#desplegable{
    display: none;
}

header > nav{
    background-color: #333;
    display: grid;
    grid-template-columns: 33% 33% 34%;
    padding: 15px 18px;
}


header > nav section{
    margin-top: 15px;
}

#pestayas{
    display: grid;
    grid-template-columns: 20% 20% 20%;
}

#pestayas a:first-child{
    justify-self: end;
}

#pestayas a:nth-child(2){
    justify-self: center;
}

#pestayas a:nth-child(3){
    justify-self: start;
}

#pestayas a{
    color:white;
    text-decoration: none;
    font-size: 25px;

    margin: 0px 15px;
}

#perfil{
    justify-items: start;
    display: grid;
    grid-template-columns: auto 15% 15%;
    justify-items: start;
    align-items: center;
}

#perfil img{
    justify-self: end;
    cursor: pointer;
    margin-right: 10px;
}

#perfil a{
    color:white;
    text-decoration: none;
    font-size: 20px;
    justify-self: start;
    margin-left: 30%;
}

#perfil input{
    cursor: pointer;
}

#perfil input{
    color:white;
    background-color: inherit;
    border: none;
    font-size: 18px;
}
/*Tablet*/
@media screen and (max-width:1200px) {
    header > nav{
        grid-template-columns: 20% 50% 30%;
    }

    #pestayas{
        
        grid-template-columns: 33% 33% 33%;
        justify-content: center;
    }

    #pestayas a{
        font-size: 25px;
    }

    #perfil{
        display: grid;
        grid-template-columns: 40% 30% 30%;
    }

    #perfil a{
        text-align: center;
    }
}

/* Teléfono */
@media screen and (max-width:700px) {
    #pestayas,#perfil{
        display: none;
    }

    header > nav{
        grid-template-columns: 20% 80%;
    }

    #desplegable{
        display: inline-block;
        padding: 15px;
        margin-left: auto;
        border: 0px;

        background-color: #333;
        color: white;
        font-size: 18px;
    }

    #desplegable *{
        border-top: solid 1px white;
    }

}
