@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@300&family=Roboto&family=Tajawal:wght@500&display=swap');

body {
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: "Tajawal";
}


header {
    min-height: 50px;
}

footer {
    min-height: 50px;
}

#desplegable{
    display: none;
}


header > nav{
    background-color: #333;
    display: grid;
    grid-template-columns: 33% 33% 34%;
    padding: 1%;
}


#pestayas{
    display: grid;
    grid-template-columns: 20% 20% 20%;
    align-items: center;
}


#pestayas a.seleccionado{
    color:#6bcb51;
}

#pestayas a:first-child{
    justify-self: end;
}

#pestayas a:nth-child(2){
    justify-self: center;
}

#pestayas a:nth-child(3){
    justify-self: start;
}

#pestayas a{
    color:white;
    text-decoration: none;
    font-size: 25px;

    margin: 0px 15px;
}

#perfil{
    justify-items: start;
    display: grid;
    grid-template-columns: 80% 20%;
    justify-items: start;
    align-items: center;
}


#perfil a{
    color:white;
    text-decoration: none;
    font-size: 20px;
    justify-self: end;
    cursor: pointer;
}

#perfil a:first-child{
    justify-self: end;
    align-self: center;
}

#perfil form:last-child{
    /* margin: 0px 25% 0px 0%; */
    justify-self: center;
    align-self: center;
}

#perfil input{
    cursor: pointer;
}

#perfil input, #menuTelefono input{
    color:white;
    background-color: inherit;
    border: none;
    font-size: 18px;
}

#menuTelefono{
    display: none;
}

/*Tablet*/
@media screen and (max-width:1200px) {
    header > nav{
        grid-template-columns: 20% 55% 25%;
        padding: 2%;
    }

    #pestayas{
        grid-template-columns: 33% 33% 33%;
        justify-content: center;
    }

    #pestayas a{
        font-size: 25px;
    }

    #perfil{
        display: grid;
        grid-template-columns: 55% 45%;
        justify-content: end;
    }

    #perfil form:last-child{
        justify-self: end;
    }

    #perfil a{
        text-align: center;
    }
}

/* Teléfono */
@media screen and (max-width:700px) {
    #botonDesplegableMenu{
        display: block;
    }

    #pestayas,#perfil{
        display: none;
    }

    header > nav{
        grid-template-columns: 20% 80%;
    }

    #desplegable{
        display: inline-block;
        padding: 15px;
        margin-left: auto;
        border: 0px;

        background-color: #333;
        color: white;
        font-size: 18px;
    }

    #desplegable *{
        border-top: solid 1px white;
    }

    #menuTelefono{
        display: grid;
        grid-template-columns: 61% 29% 10%;
        align-content: center;
        justify-content: end;
    }

    #menuTelefono a{
        margin: auto 4% auto auto;
        color: white;
        text-decoration: none;
        font-size: 20px;
    }

    #menuTelefono form{
        align-self: center;
        justify-self: center;
    }

}
