<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workline | Editar Perfil</title>
    <script src="/js/desplegableEncabezado.js" defer></script>
    <link rel="stylesheet" href="/css/fragmentosEstilos/desplegableEncabezado.css">
    <link rel="stylesheet" href="/css/fragmentosEstilos/encabezadoEstilo.css">
    <link rel="stylesheet" href="/css/fragmentosEstilos/pieEstilo.css">
    <link rel="stylesheet" href="/css/usuarioPerfilEstilos/editarPerfilEstilos.css">
    <script type="module" src="/js/usuarioPerfil/editarDatosPerfil.js" defer></script>
</head>
<body>
    <header th:insert="~{/fragmentos/encabezado :: nav}"></header>
    <main>
        <h1>Ajustes de Cuenta </h1>
        <form method="post" id="formularioDatos" th:action="@{/miPerfil/editarDatos/{rol}/submit(rol=${usuarioLogueado.getRol().toString()})}"
                th:object="${usuarioLogueado}">

                <input type="text" th:field="*{id}" hidden>
                <input type="text" th:field="*{rol}" hidden>
        
                <div>
                    <label for="">Nombre de usuario</label>
                    <input type="text" th:field="*{nombre}" maxlength="25">
                    <p class="mensajeError" id="err1">El nombre de usuario tiene más de 25 carácteres o esta vacío</p>
                    <p class="mensajeError" id="err2">Ya existe un usuario con este nombre</p>
    
                    <label for="">Email</label>
                    <input type="text" th:field="*{email}" id="email" maxlength="35">
                    <p class="mensajeError" id="err4">El email tiene más de 35 carácteres</p>
                    <p class="mensajeError" id="err5">Email no válido</p>
    
                    <label for="">Contraseña</label>
                    <input type="text" th:field="*{password}" maxlength="30">
                    <p class="mensajeError" id="err6">La contraseña debe tener entre 14 y 30 carácteres y combinar mayúsculas, minúsculas
                        y carácteres especiales</p>
    
                </div>
                <!-- <p hidden class="mensajeError" id=""></p> -->
                <div>
                    <label for="">Teléfono</label>
                    <input type="text" th:field="*{telefono}" id="telefono" maxlength="9">
                    <p class="mensajeError" id="err8">El teléfono debe tener formato español</p>

                    <label for="">Ciudad en la que vives</label>
                    <input type="text" th:field="*{ciudad}">
                    <p class="mensajeError" id="err8">Introduce una ciudad</p>

                </div>
                <div>
                    <input type="submit" value="Confirmar cambios" id="editarUsuario">
                </div>
            </form>
        </main>
        <footer th:insert="~{/fragmentos/pie :: nav}"></footer>
    </body>
</html>