<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workline | Mi perfil</title>
    <script src="/js/encabezado.js" defer></script>
    <link rel="stylesheet" href="/css/fragmentosEstilos/encabezadoEstilo.css">
    <link rel="stylesheet" href="/css/fragmentosEstilos/pieEstilo.css">
    <link rel="stylesheet" href="/css/usuarioPerfilEstilos/indexPerfilEstilo.css">
</head>
<body>
    <header th:insert="~{/fragmentos/encabezado :: nav}"></header>
    <main>
        <section id="cabeceraAjustesPerfil">
            <h1>Ajustes de Cuenta</h1>
            <img src="/images/editar.png" alt="editar">
        </section>
       
        <section class="contenedorDatos" id="perfilNombre">
            <h2 th:text="${usuarioLogueado.nombre}"></h2>
            <p>Puesto actual</p>
            <p th:text="${usuarioLogueado.ciudad}"></p>
        </section>

        <section class="contenedorDatos" id="perfilDatos">
            <h2>Mis datos</h2>
            <div>
                <label for="">Email</label>
                <p th:text="${usuarioLogueado.email}">
            </div>
            <div>
                <label for="">Teléfono</label>
                <p th:text="${usuarioLogueado.telefono}">
            </div>
        </section>

        <section id="listasEntidades">
            <p th:if="${#lists.isEmpty(listaConocimientos)}" class="sinEntidad">No tienes estudios registrados</p>
            <div class="contenedorDatos" th:unless="${#lists.isEmpty(usuarioLogueado.getListaConocimientos())}">
                <div class="cabeceraEntidad">
                    <h2>Estudios</h2>
                    <img src="/images/suma.png" alt="suma.png">
                    <img src="/images/editar.png" alt="editar.png">
                </div>
                <ul>
                    <li class="elementoEntidad" th:each="conocimiento:${usuarioLogueado.getListaConocimientos()}">
                        <h3 th:text="${conocimiento.titulo}"></h3>
                        <p th:text="${conocimiento.centroEducativo}"></p>
                        <p th:text="${conocimiento.inicioPeriodoConocimiento}"></p>-
                        <p th:text="${conocimiento.finPeriodoConocimiento}"></p>
                    </li>
                </ul>
                
            </div>
            <p th:if="${#lists.isEmpty(listaConocimientos)}" class="sinEntidad">No tienes experiencias laborales
                 registradas</p>
            <div class="contenedorDatos" th:unless="${#lists.isEmpty(usuarioLogueado.getListaExperiencias())}">
                <div class="cabeceraEntidad">
                    <h2>Experiencia</h2>
                    <img src="/images/suma.png" alt="suma.png">
                    <img src="/images/editar.png" alt="editar.png">
                </div>
                <ul>
                    <li class="elementoEntidad" th:each="experiencia:${usuarioLogueado.getListaExperiencias()}">
                        <h3 th:text="${experiencia.puesto}"></h3>
                        <p th:text="${experiencia.empresa}"></p>
                        <p th:text="${experiencia.inicioExperiencia}"></p>-
                        <p th:text="${experiencia.finExperiencia}"></p>
                    </li>
                </ul>
            </div>
        </section>
    </main>
    
    <footer th:insert="~{/fragmentos/pie :: nav}"></footer>
</body>
</html>