<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workline | Mi perfil</title>
    <script src="/js/encabezado.js" defer></script>
    <link rel="stylesheet" href="/css/fragmentosEstilos/encabezadoEstilo.css">
    <link rel="stylesheet" href="/css/fragmentosEstilos/pieEstilo.css">
    <link rel="stylesheet" href="/css/usuarioPerfilEstilos/indexPerfilEstilo.css">
</head>
<body>
    <header th:insert="~{/fragmentos/encabezado :: nav}"></header>
    <main>
        <h1>Ajustes de Cuenta</h1>
        <form method="post" id="formularioUsuario" 
        th:action="@{/miPerfil/cambiarNombre}"
        th:object="${usuarioLogueado}">
            <section class="contenedorDatos">
                <div>
                    <h2>Mi Perfil</h2>
                    <input hidden class="editarInfo" type="submit" value="Confirmar cambios">
                </div>       
                <div>
                    <label for="">Nombre</label>
                    <input readonly type="text" th:value="${usuarioLogueado.nombre}">
                </div>
                <div>
                    <button class="editarInfo">Editar</button>
                </div>
            </section>
            <section class="contenedorDatos">
                <div>
                    <h2>Mis datos</h2>
                    <input hidden class="editarInfo" type="submit" value="Confirmar cambios">
                </div>
                <div>
                    <label for="">Email</label>
                    <input readonly type="text" th:value="${usuarioLogueado.email}">
                    
                    <label for="">Ciudad</label>
                    <input readonly type="text" th:value="${usuarioLogueado.ciudad}">
                </div>
                <div>
                    <label for="">Teléfono</label>
                    <input readonly type="text" th:value="${usuarioLogueado.telefono}">
                    <button>Cambiar contraseña</button>
                </div>
            </section>
        </form>
        <section>
            <p th:if="${#lists.isEmpty(listaConocimientos)}" class="sinEntidad">No has registrado ningún conocimiento</p>
            <table th:unless="${#lists.isEmpty(listaConocimientos)}">
                <tr>
                    <th>Titulo</th>
                    <th>Centro Educativo</th>
                    <th>Inicio estudios</th>
                    <th>Fin estudios</th>
                </tr>
                <tr th:each="conocimiento:${listaConocimientos}">
                    <form action="#" method="post"
                        th:action="@{/miPerfil/modificarConocimiento}"
                        th:object="${conocimiento}">
                        <td><input readonly type="text" th:value="${conocimiento.titulo}"></td>
                        <td><input readonly type="text" th:value="${conocimiento.centroEducativo}"></td>
                        <td><input readonly type="text" th:value="${conocimiento.inicioPeriodoConocimiento}"></td>
                        <td><input readonly type="text" th:value="${conocimiento.finPeriodoConocimiento}"></td>
                        <td><input type="submit" value="Img"></td>
                        <td><input type="submit" value="borrar"></td>
                    </form>  
                    <!-- <td><a class="borrarEntidad" th:href="@{/nuevoUsuario/segundaVista/{idBusca}/borrarNuevoConocimiento/{idConocimiento}(idConocimiento=${conocimiento.id}, idBusca=${nuevoBusca.getId()})}">
                        <img src="/images/borrar.png" alt="delete">
                    </a></td> -->
                </tr>
            </table>

            <p th:if="${#lists.isEmpty(listaExperiencias)}" class="sinEntidad">No has registrado ninguna experiencia</p>
            <table th:unless="${#lists.isEmpty(listaExperiencias)}">
                <tr>
                    <th>Puesto</th>
                    <th>Empresa</th>
                    <th>Inicio experiencia</th>
                    <th>Fin experiencia</th>
                </tr>
                <tr th:each="experiencia : ${listaExperiencias}">
                    <form action="#" method="post" 
                        th:action="@{/miPerfil/modificarExperiencia}" 
                        th:object="${experiencia}">
                        <td><input readonly type="text" th:value="${experiencia.puesto}"></td>
                        <td><input readonly type="text" th:value="${experiencia.empresa}"></td>
                        <td><input readonly type="text" th:value="${experiencia.inicioExperiencia}"></td>
                        <td><input readonly type="text" th:value="${experiencia.finExperiencia}"></td>
                        <td><input type="submit" value="Img"></td>
                        <td><input type="submit" value="borrar"></td>
                    </form>
                    <!-- <td><a class="borrarEntidad" th:href="@{/nuevoUsuario/segundaVista/{idBusca}/borrarNuevaExperiencia/{idExperiencia}(idExperiencia=${experiencia.id}, idBusca=${nuevoBusca.getId()})}">
                        <img src="/images/borrar.png" alt="delete">
                    </a></td> -->
                </tr>
            </table>
        </section>
    </main>
    
    <footer th:insert="~{/fragmentos/pie :: nav}"></footer>
</body>
</html>