<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workline | Mi perfil</title>
    <script src="/js/desplegableEncabezado.js" defer></script>
    <link rel="stylesheet" href="/css/fragmentosEstilos/desplegableEncabezado.css">
    <link rel="stylesheet" href="/css/fragmentosEstilos/encabezadoEstilo.css">
    <link rel="stylesheet" href="/css/fragmentosEstilos/pieEstilo.css">
    <link rel="stylesheet" href="/css/usuarioPerfilEstilos/indexPerfilEstilo.css">
    <script src="/js/usuarioPerfil/indexPerfil.js" defer></script>
</head>
<body>
    <header th:insert="~{/fragmentos/encabezado :: nav}"></header>
    <main>
        <section id="cabeceraAjustesPerfil">
            <h1>Ajustes de Cuenta</h1>
            <div>
                <a th:href="@{/miPerfil/editarDatos}">
                    <img src="/images/miPerfil/editar.png" alt="editar">
                </a>
            </div>
        </section>
       
        <section class="nube" id="perfilNombre">
            <h2 th:text="${usuarioLogueado.nombre}"></h2>
            <p>Puesto actual</p>
            <p th:text="${usuarioLogueado.ciudad}"></p>
        </section>

        <section class="nube" id="perfilDatos">
            <h2>Mis datos</h2>
            <div>
                <label for="">Email</label>
                <p th:text="${usuarioLogueado.email}">
            </div>
            <div>
                <label for="">Teléfono</label>
                <p th:text="${usuarioLogueado.telefono}">
            </div>
        </section>

        <section id="listasEntidades" th:if="${rolActual.equals('BUSCA')}">
            <div th:if="${#lists.isEmpty(usuarioLogueado.getListaConocimientos())}" class="sinEntidad nube">
                <h3>No tienes estudios registrados</h3>
                <a th:href="@{/miPerfil/nuevoConocimiento}">Añadir un estudio</a>
            </div>
            

            <div class="nube" th:unless="${#lists.isEmpty(usuarioLogueado.getListaConocimientos())}">
                <div class="cabeceraEntidad">
                    <h2>Estudios</h2>
                    <a th:href="@{/miPerfil/nuevoConocimiento}">
                        <img src="/images/miPerfil/suma.png" alt="suma.png">
                    </a>
                </div>
                <ul>
                    <li class="elementoEntidad" th:each="conocimiento:${usuarioLogueado.getListaConocimientos()}">
                        <div>
                            <h3 th:text="${conocimiento.titulo}"></h3><a th:href="@{/miPerfil/editarConocimiento/{idCon}(idCon=${conocimiento.getId()})}">
                                <img src="/images/miPerfil/editar.png" alt="editar">
                            </a>
                            <a th:href="@{/miPerfil/borrarConocimiento/{idCon}(idCon=${conocimiento.getId()})}">
                                <img src="/images/miPerfil/borrar.png" alt="borrar.png">
                            </a>
                        </div>
                        <p th:text="${conocimiento.centroEducativo}"></p>
                        <p th:text="${conocimiento.parsearFechaInicio()}"></p>-
                        <p th:text="${conocimiento.parsearFechaFin()}"></p>
                    </li>
                </ul>    
            </div>

            <div th:if="${#lists.isEmpty(usuarioLogueado.getListaExperiencias())}" class="sinEntidad nube">
                <h3>No tienes experiencias laborales registradas</h3>
                <a th:href="@{/miPerfil/nuevaExperiencia}">Añadir una experiencia</a>
            </div>
            

            <div class="nube" th:unless="${#lists.isEmpty(usuarioLogueado.getListaExperiencias())}">
                <div class="cabeceraEntidad">
                    <h2>Experiencia</h2>
                    <a th:href="@{/miPerfil/nuevaExperiencia}">
                        <img src="/images/miPerfil/suma.png" alt="suma.png">
                    </a>
                </div>
                <ul>
                    <li class="elementoEntidad" th:each="experiencia:${usuarioLogueado.getListaExperiencias()}">
                        <div>
                            <h3 th:text="${experiencia.puesto}"></h3>
                            <a th:href="@{/miPerfil/editarExperiencia/{idExp}(idExp=${experiencia.getId()})}">
                                <img src="/images/miPerfil/editar.png" alt="editar.png">
                            </a>
                            <a th:href="@{/miPerfil/borrarExperiencia/{idExp}(idExp=${experiencia.getId()})}">
                                <img src="/images/miPerfil/borrar.png" alt="borrar.png">
                            </a>
                        </div>
                        <p th:text="${experiencia.empresa}"></p>
                        <p th:text="${experiencia.parsearFechaInicio()}"></p>-
                        <p th:text="${experiencia.parsearFechaFin()}"></p>
                    </li>
                </ul>
            </div>
        </section>

        <section id="ofertasSuscrito" th:if="${rolActual.equals('BUSCA')}">
            <h1 th:unless="${#lists.isEmpty(usuarioLogueado.getListaOfertas())}">Mis ofertas</h1>
            <section class="oferta nube" th:each="oferta:${usuarioLogueado.getListaOfertas()}" th:id="${oferta.id}">
                <div>   
                    <h4 th:text="${oferta.puesto}"></h4>
                    <h5 th:text="${oferta.nombreEmpresa}"></h5>
                </div>
                
                <ul>
                    <li><p th:text="${oferta.tipoContrato}"></p></li>
                    <li><p th:text="${oferta.modalidadTrabajo}"></p></li>
                    <li><p th:text="${oferta.ciudad}"></p></li>
                </ul>
                <a class="suscrito" th:href="@{/miPerfil/misOfertas/desinscribirse/{ofertaId}(ofertaId=${oferta.id})}">Desinscribirse</a>
            </section>
        </section>
    </main>

    
    
    <footer th:insert="~{/fragmentos/pie :: nav}"></footer>
</body>
</html>