<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workline | Nueva Experiencia</title>
    <link rel="icon" type="image/x-icon" href="/images/fragmentos/Wk.ico">
    <script src="/js/desplegableEncabezado.js" defer></script>
    <link rel="stylesheet" href="/css/fragmentosEstilos/desplegableEncabezado.css">
    <link rel="stylesheet" href="/css/fragmentosEstilos/encabezadoEstilo.css">
    <link rel="stylesheet" href="/css/fragmentosEstilos/pieEstilo.css">
    <link rel="stylesheet" href="/css/usuarioPerfilEstilos/nuevoConocimientoEstilo.css">
    <script type="module" src="/js/nuevoUsuario/segundaVistaExperiencia.js"></script>
</head>
<body>
    <header th:insert="~{/fragmentos/encabezado :: nav}"></header>
    <main>
        <form action="#" method="post" id="formNuevoBuscaExperiencia"
            th:action="@{/miPerfil/nuevaExperiencia/submit}"
            th:object="${experiencia}">
                <input type="text" th:field="*{id}" hidden>
                <h1 th:text="${titulo}"></h1>
                <div>    
                    <label for="">Puesto</label>
                    <input type="text" th:field="*{puesto}" class="experienciaInput" maxlength="40">
                    <p class="falloExperiencia" hidden> El puesto no puede tener más de 30 carácteres y no puede ser nulo</p>
        
                    <label for="">Empresa</label>
                    <input type="text" th:field="*{empresa}" class="experienciaInput" maxlength="20">
                    <p class="falloExperiencia" hidden> La empresa no puede tener más de 40 carácteres y no puede ser nulo</p>
                </div>
                <div>
                    <label for="">Inicio Experiencia</label>
                    <input type="text" th:field="*{inicioExperiencia}" class="experienciaInput">
                    <p class="falloExperiencia" hidden> La fecha debe estar en formato dd-mm-yyyy y no puede ser nulo</p>
                    
        
                    <label for="">Fin Experiencia</label>
                    <input type="text" th:field="*{finExperiencia}" class="experienciaInput">
                    <p class="falloExperiencia" hidden> La fecha debe estar en formato dd-mm-yyyy y no puede ser nulo</p>
                    <p class="falloExperiencia" hidden> La fecha de inicio no puede ser superior a la final</p>
                </div>
                <div>
                    <input type="submit" value="Subir" id="subirExperiencia" class="subirEntidad">
                </div>
        </form>
        <section id="conocimientosContenedor">
            <h1 th:unless="${#lists.isEmpty(buscaLogueado.getListaExperiencias())}">Tus experiencias actuales</h1>
            <div th:each="experiencia:${buscaLogueado.getListaExperiencias()}" class="conocimiento">
                <h3 th:text="${experiencia.puesto}"></h3>
                <p th:text="${experiencia.empresa}"></p>
                <p th:text="${experiencia.inicioExperiencia}"></p>-
                <p th:text="${experiencia.finExperiencia}"></p>
            </div>
        </section>
    </main>
    <footer th:insert="~{/fragmentos/pie :: nav}"></footer>
</body>
</html>