body {
    background-color: #F5F5F5;
}

main{
    width: 75%;
    margin: 0% auto;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#anuncio{
    margin: 0% auto;
    display: grid;
    grid-template-columns: 50% 50%;

    overflow: hidden;
    justify-content: center;

    padding: 0px 0px 30px;
    margin-bottom: 20px;
    margin-top: 15px;
}

#anuncio img{
    justify-self: end;
    align-self: center;
}


#anuncio h2{
    font-size: 80px;
    font-weight: normal;
    margin-top: 30px;
    margin-bottom: 30px;

    line-height: 1;
}

#anuncio p{
    font-size: 25px;

    line-height: 1.1;
}

#anuncio p:last-of-type{
    margin-bottom: 35px;
}

#anuncio a{
    font-size: 21px;
    text-decoration: none;
    color: black;

    border: solid 0.7px black;
    padding: 10px 20px;
}



#opciones{
    /* width: 75%; */
    margin: 0% auto 3%;
    display: grid;
    grid-template-columns: 48% 48%;
    gap: 4%;
    margin-top: 0px;

    padding: 40px 0px;
}

#opciones > div{
    display: grid;
    grid-template-columns: 30% 70%;
    cursor: pointer;
    justify-content: center;
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); */
    color: white;
    padding: 4%;
    border-radius: 8px;
}

#opciones > div:nth-child(2){
    grid-template-columns: 25% 75%;
}


#opciones > div:first-child{
    background-color: #1ba2ba;
}

#opciones > div:last-child{
    background-color: rgb(2, 155, 2);
}

#opciones img{
    align-self: center;
    grid-row: span 2;
}

#opciones h3{
    text-align: left;
    font-weight: normal;
    font-size: 35px;

    margin: 0% 0% 3.5%;
}

#opciones p{
    margin: 0px;
    font-size: 22px;
}




@media screen and (max-width:1200px) {

    main{
        width: 80%;
    }

    #anuncio div:nth-child(2) {
        grid-row: 1 / 2; 
        text-align: center; 
    }
    
    #anuncio div:nth-child(1) {
        grid-row: 2 / 3;

    }
    
    #anuncio{
        grid-template-columns: 100%;
        margin-top: 5%;
    }

    #anuncio img{
        width: 95%;
    }


    #anuncio h2{
        font-size: 65px;
    }

    #anuncio p{
        padding-right: 35px;

        font-size: 28px;
    }

    #anuncio a{
        margin-top: 5px;
        width: 20%;
    }

    #opciones{
        grid-template-columns: 48% 48%;
        gap: 4%;
        
    }

    #opciones > div{
        display: grid;
        grid-template-columns: 30% 70%;
        padding: 5%;
    }

    #opciones img{
        width: 95%;
    }

    #opciones h3{
        font-size: 28px;
    }

    #opciones p{

        padding-right: 0%;
        font-size: 21px;
    }

}

@media screen and (max-width:700px) {

    #anuncio img{
        width: 100%;
    }

    #anuncio h2{
        font-size: 50px;
    }

    #anuncio p{
        font-size: 24px;
    }
   
    #opciones{
        grid-template-columns: 100%;
    }
}
