body{
    margin: 0px;
}

main{
    width: 100vw;
    height: 100vh;
    background-color: #F5F5F5;
    margin: 0px;

    display: grid;
    grid-template-columns: 20%;
    justify-content: center;
    align-items: center;
}

main > div {
    background-color: white;
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    padding: 15px 10px;
}

h2{
    text-align: center;
    margin: 0px auto 15px;
    font-weight: normal;
    margin-bottom: 15px;
    width: 50%;
    font-size: 35px;
}

form{
    margin: 0px auto;
    width: 80%;
    display: grid;
    grid-template-columns: 20% 80%;
}

form img, form input{
    margin-bottom: 15px;
    align-self: center;
}

input[type=text] {
    background-color: white;
}

form input:focus{
    background-color: inherit;
    border-bottom: inherit;
}

form input[type=submit]{
    grid-column: 1/3;
    justify-self: end;

    background-color: #F5F5F5;
    color: black;
    cursor: pointer;

    border-bottom: 0px;
    margin-top: 2%;
    width: 50%;
}

#error{
    grid-column: 1/3;
    font-size: 18px;
    color:red;
    margin: inherit 0%;
}


form img{
    justify-self: end;
    margin-right: 15px;
}

form input{
    height: 30px;
    border:0px;
    border-bottom: solid 1px black;
}


main p{
    text-align: center;
    margin: 10px 10px;
    font-size: 18px;
}

main > div > p > a{
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    color:#0097b2;
}

main > div > a:last-of-type{
    text-align: right;
    text-decoration: none;
    margin:10px 15px 10px 0px;

    font-size: 18px;
    color: black;
}

@media screen and (max-width:1200px) {
    main{
        grid-template-columns: 50%;
    }

    input[type=text], input[type=password]{
        font-size: 16px;
    }

    input[type=submit]{
        font-size: 14px;
    }
}

@media screen and (max-width:700px) {
    main{
        grid-template-columns: 70%;
    }

    form input:last-of-type{
        width: 80%;
    }

    main > div > a:last-of-type{
        margin-right: 30px;
        margin-top: 0px;
    }
}