<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/loginViewEstilo.css">
    <title>Document</title>
</head>
<body>
    <div id="primerContenedor">
        <div>
            <h2>Workline</h2>
            <form th:action="@{/login}" method="post">
                <img src="/images/login/usuario.png" alt=""><input type="text" name="username" placeholder="Nombre de usuario">
                <img src="/images/login/candado.png" alt=""><input type="password" name="password" placeholder="Contraseña">
                <span></span><input type="submit" value="Iniciar Sesión">
            </form>
            <p>¿No tiene cuenta? <a href="">Cree una</a></p>
            <a href="">Volver atrás</a>
        </div>
    </div>
</body>
</html>