<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workline | Error 404</title>
    <link rel="stylesheet" href="/css/fragmentosEstilos/encabezadoEstilo.css">
    <link rel="stylesheet" href="/css/fragmentosEstilos/pieEstilo.css">
    <link rel="stylesheet" href="/css/404Estilo.css">
</head>
<body>
    <header th:insert="~{/fragmentos/encabezado :: nav}"></header>
    <main>
        <img src="/images/404hd.png" alt="notFound">
        <h2>¡Vaya! Parece que la página que has buscado no existe</h2>
        <a th:href="@{/}">Volver al inicio</a>
    </main>
    <footer th:insert="~{/fragmentos/pie :: nav}"></footer>
</body>
</html>