<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Estudio</title>
    <link rel="icon" type="image/x-icon" href="/images/fragmentos/Wk.ico">
    <script src="/js/desplegableEncabezado.js" defer></script>
    <link rel="stylesheet" href="/css/fragmentosEstilos/desplegableEncabezado.css">
    <link rel="stylesheet" href="/css/fragmentosEstilos/encabezadoEstilo.css">
    <link rel="stylesheet" href="/css/fragmentosEstilos/pieEstilo.css">
    <link rel="stylesheet" href="/css/usuarioPerfilEstilos/nuevoConocimientoEstilo.css">
    <script type="module" src="/js/usuarioPerfil/nuevoConocimiento.js"></script>
</head>
<body>
    <header th:insert="~{/fragmentos/encabezado :: nav}"></header>
    <main>
        <form action="#" method="post" id="formNuevoBuscaConocimiento"
            th:action="@{/miPerfil/busca/editarConocimiento/submit}"
            th:object="${conocimientoEditar}">
                <input type="text" th:field="*{id}" hidden>
                <h1>Editar Estudio</h1>
                <div>    
                    <label for="">Titulo</label>
                    <input type="text" th:field="*{titulo}" class="conocimientoInput" maxlength="45">
                    <p class="falloConocimiento"></p>

                    <label for="">Centro Educativo</label>
                    <input type="text" th:field="*{centroEducativo}" class="conocimientoInput" maxlength="40">
                    <p class="falloConocimiento"></p>
                </div>
                <div>
                    <label for="">Inicio Estudios</label>
                    <input type="text" th:field="*{inicioPeriodoConocimiento}" class="conocimientoInput">
                    <p class="falloConocimiento"></p>
                    
        
                    <label for="">Fin Estudios</label>
                    <input type="text" th:field="*{finPeriodoConocimiento}" class="conocimientoInput">
                    <p class="falloConocimiento"></p>
                </div>
                <div>
                    <input type="submit" value="Subir" id="subirConocimiento" class="subirEntidad">
                </div>
        </form>
    </main>
    <footer th:insert="~{/fragmentos/pie :: nav}"></footer>
</body>
</html>