<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workline | Nuevo Conocimiento</title>
    <link rel="icon" type="image/x-icon" href="/images/fragmentos/Wk.ico">
    <script src="/js/desplegableEncabezado.js" defer></script>
    <link rel="stylesheet" href="/css/fragmentosEstilos/desplegableEncabezado.css">
    <link rel="stylesheet" href="/css/fragmentosEstilos/encabezadoEstilo.css">
    <link rel="stylesheet" href="/css/fragmentosEstilos/pieEstilo.css">
    <link rel="stylesheet" href="/css/usuarioPerfilEstilos/nuevoConocimientoEstilo.css">
    <script type="module" src="/js/usuarioPerfil/nuevoConocimiento.js"></script>
</head>
<body>
    <header th:insert="~{/fragmentos/encabezado :: nav}"></header>
    <main>
        <form action="#" method="post" id="formNuevoBuscaConocimiento"
            th:action="@{/miPerfil/busca/nuevoConocimiento/submit}"
            th:object="${conocimiento}">
                <input type="text" th:field="*{id}" hidden>
                <h1>Escribe un nuevo conocimiento</h1>
                <div>    
                    <label for="">Titulo</label>
                    <input type="text" th:field="*{titulo}" class="conocimientoInput" maxlength="41">
                    <p class="falloConocimiento"></p>
                    
                    <label for="">Centro Educativo</label>
                    <input type="text" th:field="*{centroEducativo}" class="conocimientoInput" maxlength="31">
                    <p class="falloConocimiento"></p>
                </div>
                <div>
                    <label for="">Inicio Estudios</label>
                    <input type="text" th:field="*{inicioPeriodoConocimiento}" class="conocimientoInput">
                    <p class="falloConocimiento"></p>
                    
        
                    <label for="">Fin Estudios</label>
                    <input type="text" th:field="*{finPeriodoConocimiento}" class="conocimientoInput">
                    <p class="falloConocimiento"></p>
                    <p class="falloConocimiento"></p>
                </div>
                <div>
                    <input type="submit" value="Subir" id="subirConocimiento" class="subirEntidad">
                </div>
        </form>
        <section id="conocimientosContenedor">
            <h1 th:unless="${#lists.isEmpty(buscaLogueado.getListaConocimientos())}">Tus estudios actuales</h1>
            <div th:each="conocimiento:${buscaLogueado.getListaConocimientos()}" class="conocimiento">
                <h3 th:text="${conocimiento.titulo}"></h3>
                <p th:text="${conocimiento.centroEducativo}"></p>
                <p th:text="${conocimiento.inicioPeriodoConocimiento}"></p>-
                <p th:text="${conocimiento.finPeriodoConocimiento}"></p>
            </div>
        </section>
    </main>
    <footer th:insert="~{/fragmentos/pie :: nav}"></footer>
</body>
</html>
