body{
    margin: 0px;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 40%;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
}

#contenedorPadre{
    background-color: white;
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
}

#contenedorPadre h2, #contenedorPadre h3{
    text-align: center;
    font-weight: normal;
}

#contenedorPadre h2{
    font-size: 30px;
    margin-bottom: 0px;
}

#contenedorPadre h3{
    font-size: 25px;
    margin-top: 10px;
}

#primerFormulario{
    margin: 10px auto 10px;
    width: 75%;
    display: grid;
    grid-template-columns: 50% 50%;
}

#primerFormulario > div:nth-child(3){
    justify-self: end;
    
}

#primerFormulario > div:last-of-type{
    grid-column:  1/3;
    justify-self: center;
    margin-top: 30px;
}

#primerFormulario > div:last-of-type input{
    padding: 10px;
    border: 0px;
    cursor: pointer;
    font-size: 16px;
}

#primerFormulario label{
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 23px;
    display: block;
}


#primerFormulario input{
    border: 0px;
    border-bottom: solid 1px black;
    font-size: 15px;
    margin-bottom: 5px;
}

#primerFormulario select{
    margin-top: 8px;
    margin-bottom: 5px;
    border: 0px;
    border-bottom: solid 1px black;
    font-size: 18px;
}

.mensajeError{
    margin-top: 0px;
    color: rgb(244, 54, 54);
    font-size: 18px;
    padding-right: 10px;
}

.inputError{
    border-bottom: solid 1px rgb(244, 54, 54) !important;
}

#err6{
    margin-bottom: 5px;
}

@media screen and (max-width:1200px) {
    body{
        grid-template-columns: 80%;
    }

    #primerFormulario{
        width: 80%;
    }

    #primerFormulario input{
        width: 80%;
    }

    #primerFormulario > div:last-of-type > input{
        width: 100%;
    }
}

@media screen and (max-width:700px) {

    #contenedorPadre h2{
        font-size: 27px;
    }
    
    #contenedorPadre h3{
        font-size: 22px;
    }

    #primerFormulario{
        grid-template-columns: 100%;
        justify-content: center;
    }

    #primerFormulario > div > *{
        width: 100%;
    }

    #primerFormulario > div:last-of-type{
        grid-column: initial;
        width: 100%;
    }

    .mensajeError{
        padding-right: 0px;
    }
}