@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&family=Tajawal:wght@500&display=swap');

body{
    margin: 0px;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 45%;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    font-family: "Tajawal";
}

main{
    background-color: white;
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
}

main h2, main h3{
    text-align: center;
    font-weight: normal;
}

main h2{
    font-size: 30px;
    margin-bottom: 0px;
}

main h3{
    font-size: 25px;
    margin-top: 10px;
}

#formularioDatos{
    margin: 3% auto 3%;
    width: 85%;
    display: grid;
    grid-template-columns: 50% 50%;

}

#formularioDatos label{
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 23px;
    display: block;
}


#formularioDatos input{
    border: 0px;
    border-bottom: solid 1px black;
    font-size: 18px;
    margin-bottom: 5px;
    width: 70%;
}

#formularioDatos select{
    margin-top: 8px;
    margin-bottom: 5px;
    border: 0px;
    border-bottom: solid 1px black;
    font-size: 18px;
}

#formularioDatos #subirUsuario{
    grid-column: 1/3;
    justify-self: end;
    cursor: pointer;

    border: 0px;
    border-radius: 8px;
    background-color: green;
    color: white;
    font-size: 19px;

    width: 25%;
    padding: 1.5% 2%;
    margin-top: 1%;
}

.usuarioError{
    font-size: 20px;
    color: red;
    margin-top: 2%;
}

.inputError{
    border-bottom: solid 1px rgb(244, 54, 54) !important;
}

@media screen and (max-width:1200px) {
    body{
        grid-template-columns: 80%;
    }

    #formularioDatos{
        width: 80%;
    }

    #formularioDatos input{
        width: 80%;
    }

    #formularioDatos #subirUsuario{
        width: 100%;
        grid-column: 1/1;
    }
}

@media screen and (max-width:700px) {

    main h2{
        font-size: 27px;
    }
    
    main h3{
        font-size: 22px;
    }

    #formularioDatos{
        grid-template-columns: 100%;
        justify-content: center;
    }

    #formularioDatos > div > *{
        width: 100%;
    }

    #formularioDatos > div:last-of-type{
        grid-column: initial;
        width: 100%;
    }

    .mensajeError{
        padding-right: 0px;
    }
}