body{
    background-color: #F5F5F5;
}

body h1, body h2, body h3{
    text-align: center;
    font-weight: normal;
}

body > section:first-child{
    display: flex;
    justify-content: center;

}

body > section:first-child > h1{
    font-size: 33px;
    margin-bottom: 0px;
}

body > section:first-child > h1:first-child{
    margin-right: 10px;
}

#contenedorPadre{
    margin: 0px auto;
    width: 64%;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: white;
    padding: 20px;
}

#contenedorPadre > .formularioContenedor > h3{
    font-weight: normal;
    font-size: 25px;
}

#contenedorPadre > .formularioContenedor > form{
    display: grid;
    grid-template-columns: 70%;
    justify-content: center;
}

.formularioContenedor > form > label{
    font-size: 23px;
    margin-top: 10px;
}

.formularioContenedor input{
    border: 0px;
    border-bottom: solid 1px black;
    font-size: 15px;
    margin-bottom: 10px;
}

.formularioContenedor > form > input.subirEntidad{
    font-size: 18px;
    margin-top: 20px;
    padding: 10px 15px;
    border: 0px;

    width: 50%;
    justify-self: center;
    cursor: pointer;
}

.sinEntidad{
    text-align: center;
    font-size: 20px;
}

.mensajeError{
    color: red;
    font-size: 15px;
}

.formularioContenedor .inputError{
    border-bottom: solid 1px red ;
}

.formularioContenedor > table{
    width: 95%;
    margin: 15px auto 30px;
}

.formularioContenedor > table th{
    font-size: 21px;
    font-weight: normal;
    text-align: start;
}

.formularioContenedor > table td{
    font-size: 19px;
}

.formularioContenedor > table th,
.formularioContenedor > table td{
    padding:0px 4px;
}

.formularioContenedor > table tr{
    border: solid 1px black;
}

#contenedorPadre > a{
    grid-column: 1/3;
    justify-self: end;

    text-decoration: none;
    color: black;
    font-size: 19px;
}


@media screen and (max-width:1400px) {
    #contenedorPadre{
        grid-template-columns: 100%;
        width: 70%;
        justify-content: center;
    }

    #contenedorPadre a{
        grid-column: 1/1;
    }
}

@media screen and (max-width:700px){
    #contenedorPadre{
        width: 85%;
    }

}