<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/js/desplegableEncabezado.js" defer></script>
    <link rel="stylesheet" href="/css/fragmentosEstilos/desplegableEncabezado.css">
    <link rel="stylesheet" href="/css/fragmentosEstilos/encabezadoEstilo.css">
    <link rel="stylesheet" href="/css/fragmentosEstilos/pieEstilo.css">
    <link rel="stylesheet" href="/css/usuarioPerfilEstilos/confirmarPasswordEstilo.css">
</head>
<body>
    <header th:insert="~{/fragmentos/encabezado :: nav}"></header>
    <main>
        <section id="cabeceraAjustes">
            <h1>Ajustes de Cuenta </h1>
            <a th:href="@{/miPerfil/contrata/}">Volver atrás</a>
        </section>
        <section class="nube" id="contenedor">
            <h5>
               Confirma tu contraseña
            </h5>
            <p>Para cambiar tu contraseña, es necesario que primero verifiques tu acceso</p>
            <form action="#" method="post"
                th:action="@{/miPerfil/contrata/cambiarPassword/segundoPaso}">
                <input type="password" name="verificarPassword">
                <p th:if="${errorConfirmarPassword != null}" th:text="${errorConfirmarPassword}" id="errorConfirmarPassword"></p>
                <input type="submit" value="Confirmar contraseña" id="confirmarPassword">
            </form>
        </section>
    </main>
    <footer th:insert="~{/fragmentos/pie :: nav}"></footer>
</body>
</html>