<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workline | Inicio</title>
    <script src="/js/desplegableEncabezado.js" defer></script>
    <link rel="stylesheet" href="/css/fragmentosEstilos/desplegableEncabezado.css">
    <link rel="stylesheet" href="/css/fragmentosEstilos/encabezadoEstilo.css">
    <link rel="stylesheet" href="/css/fragmentosEstilos/pieEstilo.css">
    <link rel="stylesheet" href="/css/inicioEstilo.css">
    <script src="/js/inicio.js" defer></script>
</head>
<body>
    <header th:insert="~{/fragmentos/encabezado :: nav}"></header>
    <main>
        <section id="anuncio">
            <div>
                <h2>
                    Tu futuro <br> comienza hoy 
                </h2>
                    <p>
                        Cada día en Workline las empresas publican miles de empleos disponibles 
                        que son una nueva oportunidad para crecer profesionalmente.
                    </p>
                    <p>
                        Comienza una nueva etapa en tu vida a través de nuestras
                        ofertas de trabajo.  
                    </p>
                    <a th:href="@{/ofertasDeTrabajo/0}">Encuentra empleo</a>
            </div>
            <img src="/images/inicio/cartoonTelefono.png" alt="">
        </section>
        <section id="opciones">
            <div>
                <h3>Encuentra tu próximo trabajo</h3>
                <img src="/images/inicio/cv.png" alt="cv.png"><p>Descubre tu trabajo ideal en Workline con nuestro buscador de trabajo.</p>
            </div>
            <div>
                <h3>Contrata empleados</h3>
                <img src="/images/inicio/handshake.png" alt="handshake.png"><p>Descubre tu trabajo ideal en Workline con nuestro buscador de trabajo.</p>
            </div>
        </section>
    </main>
    
    <footer th:insert="~{/fragmentos/pie :: nav}"></footer>
</body>
</html>