<nav id="cabecera">
    <link rel="stylesheet" href="/css/fragmentosEstilos/encabezadoEstilo.css">
    <a th:href="@{/}">
        <img src="/images/fragmentos/Wk.png" alt="logo.png" id="logo">
    </a>
    <section id="pestayas">
        <a th:href="@{/}">Inicio</a>
        <a th:href="@{/ofertasDeTrabajo/0}">Ofertas</a>
        <a th:href="@{/seccionContrata/pagina/0}">Contratar</a>
    </section>
    <section id="perfil">
        <a th:if="${currentUserName != null}"  th:href="@{/miPerfil/{rolActual}/(rolActual=${rolActual})}" th:text="${currentUserName}"></a>
        <form th:if="${currentUserName != null}" th:action="@{/logout}" method="post">
            <input type="submit" value="Logout" />
        </form>
        <span th:if="${currentUserName == null}" ></span>
        <a th:if="${currentUserName == null}" th:href="@{/sesion/signin}">
            Iniciar Sesión
        </a>
    </section>
    <section id="menuTelefono">
        <div>
            <a th:if="${currentUserName == null}" th:href="@{/sesion/signin}">Iniciar Sesión</a>
            <a th:unless="${currentUserName == null}" th:href="@{/miPerfil/{rolActual}/(rolActual=${rolActual.toLowerCase()})}" th:text="${rolActual}"></a>
            <a th:href="@{/sesion/signin}" id="loginTelefono">
                <img src="/images/fragmentos/pfp.png" alt="pfp.png">
            </a>
        </div>
        <img src="/images/fragmentos/barras3.png" alt="cerrar.png" id="barrasDesplegableMenu">
    </section>
    
    <aside id="desplegableMenu">
        <img src="/images/fragmentos/cerrar.png" alt="cerrar.png" id="cerrarDesplegableMenu">
        <div id="contenedorPadreMenuDesplegable">
            <a th:href="@{/}">Inicio</a>
            <a th:href="@{/ofertasDeTrabajo/0}">Ofertas</a>
            <a th:href="@{/seccionContrata/pagina/0}">Contratar</a>
        </div>
    </aside>
    
</nav>