<nav id="cabecera">
    <img src="/images/fragmentos/Wk.png" alt="logo.png" id="logo">
    <section id="pestayas">
        <a th:href="@{/}">Inicio</a>
        <a th:href="@{/ofertasDeTrabajo/0}">Ofertas</a>
        <!-- th:if user.getRol('CONTRATA') -->
        <a th:href="@{/seccionContrata/pagina/0}">Contratar</a>
    </section>
    <section id="perfil">
        <a th:if="${currentUserName != null}"  th:href="@{/miPerfil/}" th:text="${currentUserName}"></a>
        <form th:if="${currentUserName != null}" th:action="@{/logout}" method="post">
            <input type="submit" value="Logout" />
        </form>
        <span th:if="${currentUserName == null}" ></span>
        <a th:if="${currentUserName == null}" th:href="@{/sesion/signin}">
            Iniciar Sesión
        </a>
    </section>
    <select name="" id="desplegable">
        <option value="" data-icon="/images/encabezado/barras.png">Mi perfil</option>
        <option value="">Inicio</option>
        <option value="">Ofertas</option>
        <option value="">Contratar</option>
    </select>
</nav>