<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workline | Detalles Oferta</title>
    <script src="/js/encabezado.js" defer></script>
    <link rel="stylesheet" href="/css/fragmentosEstilos/encabezadoEstilo.css">
    <link rel="stylesheet" href="/css/fragmentosEstilos/pieEstilo.css">
    <link rel="stylesheet" href="/css/seccionContrataEstilos/detallesOfertaEstilo.css">
</head>
<body>
    <header th:insert="~{/fragmentos/encabezado :: nav}"></header>
    <body>  
        <main id="contenedorDetalles">
            <a th:href="@{/seccionContrata/pagina/{numPag}(numPag=${numPag})}">Volver atrás</a>
            <button id="editar">Editar Oferta</button>
            <section>
                <div>
                    <label>Puesto</label>
                    <p th:text="${oferta.puesto}" id="puesto"></p>
                    
                    <label>Sector</label>
                    <p th:text="${oferta.sector}" id="sector"></p>
                    
                    <label >Modalidad de Trabajo</label>
                    <p th:text="${oferta.modalidadTrabajo}"></p>

                    <label>Descripción</label>
                    <textarea  th:text="${oferta.descripcion}"></textarea>
                </div>
                <div>
                    <label>Salario Anual</label>
                    <p th:text="${oferta.salarioAnual}"></p>
                    
                    <label>Tipo de Contrato</label>
                    <p th:text="${oferta.tipoContrato}"></p>

                    <label>Horas</label>
                    <p th:text="${oferta.horas}"></p>

                    <label >Ciudad</label>
                    <p th:text="${oferta.ciudad}"></p>
                </div>
            </section>
            <section th:unless="${#lists.isEmpty(oferta.getListaCandidatos())}">
                <a th:each="candidato:${oferta.getListaCandidatos()}">

                </a>
            </section>
        </main>
    </body>
    <footer th:insert="~{/fragmentos/pie :: nav}"></footer>
</body>
</html>