<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workline | Detalles Oferta</title>
    <script src="/js/desplegableEncabezado.js" defer></script>
    <link rel="stylesheet" href="/css/fragmentosEstilos/desplegableEncabezado.css">
    <link rel="stylesheet" href="/css/fragmentosEstilos/encabezadoEstilo.css">
    <link rel="stylesheet" href="/css/fragmentosEstilos/pieEstilo.css">
    <link rel="stylesheet" href="/css/seccionContrataEstilos/detallesOfertaEstilo.css">
    <script src="/js/contratar/detallesOferta.js" defer></script>
</head>
<body>
    <header th:insert="~{/fragmentos/encabezado :: nav}"></header>
    <body>  
        <main>
            <a th:href="@{/seccionContrata/pagina/{numPag}(numPag=${numPag})}">Volver atrás</a>
            <a th:href="@{/seccionContrata/pagina/{numPag}/oferta/editarOferta/{ofertaId}(numPag=${numPag},ofertaId=${ofertaId})}" id="editar">Editar Oferta</a>
            
            <p th:text="${numPag}" hidden id="numPag"></p><p th:text="${oferta.id}" hidden id="ofertaId"></p>
            <section id="contenidoOferta">
                <section id="infoOferta" class="nube">
                    <div>
                        <label>Puesto</label>
                        <p th:text="${oferta.puesto}" id="puesto"></p>
                        
                        <label>Sector</label>
                        <p th:text="${oferta.sector}" id="sector"></p>
                        
                        <label >Modalidad de Trabajo</label>
                        <p th:text="${oferta.modalidadTrabajo}"></p>

                        <label>Ciudad</label>
                        <p th:text="${oferta.ciudad}"></p>                        
                    </div>
                    <div>
                        <label>Salario Anual</label>
                        <p th:text="${oferta.salarioAnual}"></p>
                        
                        <label>Tipo de Contrato</label>
                        <p th:text="${oferta.tipoContrato}"></p>
    
                        <label>Horas</label>
                        <p th:text="${oferta.horas}"></p>
                    </div>
                </section>

                <section id="descripcion" class="nube">
                    <h3>Descripción</h3>
                    <textarea  th:text="${oferta.descripcion}"></textarea>
                </section>
            </section>
           
            <section th:unless="${#lists.isEmpty(oferta.getListaCandidatos())}" id="candidatos">
                <h2>Se han inscrito en esta oferta</h2>
                <div th:each="candidato:${listaCandidatos}" class="nube candidato" th:id="${candidato.id}">
                    <h3 th:text="${candidato.nombre}"></h3>
                    <ul>
                        <li><p th:text="${candidato.email}"></p></li>
                        <li><p th:text="${candidato.telefono}"></p></li>
                        <li><p th:text="${candidato.ciudad}"></p></li>
                    </ul>
                </div>
            </section>
        </main>
    </body>
    <footer th:insert="~{/fragmentos/pie :: nav}"></footer>
</body>
</html>