<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workline | Detalles Oferta</title>
    <link rel="icon" type="image/x-icon" href="/images/fragmentos/Wk.ico">
    <script src="/js/desplegableEncabezado.js" defer></script>
    <link rel="stylesheet" href="/css/fragmentosEstilos/desplegableEncabezado.css">
    <link rel="stylesheet" href="/css/fragmentosEstilos/encabezadoEstilo.css">
    <link rel="stylesheet" href="/css/fragmentosEstilos/pieEstilo.css">
    <link rel="stylesheet" href="/css/seccionContrataEstilos/nuevaOfertaEstilo.css">
    <script type="module" src="/js/contratar/nuevaOferta.js" defer></script>
</head>
<body>
    <header th:insert="~{/fragmentos/encabezado :: nav}"></header>
    <body>  
        <main>
            <a th:href="@{/seccionContrata/pagina/{numPag}(numPag=${numPag})}">Volver atrás</a>
            <form action="" method="post" id="formularioEdicion"
                th:object="${nuevaOferta}"
                th:action="@{/seccionContrata/pagina/{numPag}/detallesOferta/{ofertaId}/editarOfertaSubmit(numPag=${numPag})}">

                <input class="datosOcultos" hidden th:field="*{id}"></input>                
                <input class="datosOcultos" hidden th:field="*{nombreEmpresa}"></input>
                <input class="datosOcultos" hidden th:field="*{fechaPublicacion}"></input>
                
                <section class="nube" id="primeraSeccion">
                    <div>
                        <label for="puesto">Puesto</label>
                        <input type="text" th:field="*{puesto}" class="validarCampo">
                        <p class="mensajeError" hidden></p>
                        
                        <label for="sector">Sector</label>
                        <input type="text" th:field="*{sector}" class="validarCampo">
                        <p class="mensajeError" hidden></p>
                        
                        <label for="modalidad">Modalidad de Trabajo</label>
                        <select name="" id="modalidad" th:field="*{modalidadTrabajo}" class="validarCampo">
                            <option value="default" selected>Selecciona una opción ...</option>
                            <option th:value="${mt}" th:text="${mt}" th:each="mt:${modalidadesTrabajo}"></option>
                        </select>
                        <p class="mensajeError"></p>
    
                        <label for="ciudad">Ciudad</label>
                        <input type="text" th:field="*{ciudad}" class="validarCampo">
                        <p class="mensajeError"></p>
                    </div>
                    <div>
                        <label for="salarioAnual">Salario Anual</label>
                        <input type="text" th:field="*{salarioAnual}">
                        
                        <label for="tipoContrato">Tipo de Contrato</label>
                        <select name="" id="tipoContrato" th:field="*{tipoContrato}" class="validarCampo">
                            <option value="default" selected>Selecciona una opción ...</option>
                            <option th:value="${tc}" th:text="${tc}" th:each="tc:${tiposContrato}"></option>
                        </select>
                        <p class="mensajeError"></p>
                        
                        <label for="horas">Horas</label>
                        <input type="text" th:field="*{horas}" id="horas">

                        <input type="submit" id="subirCambios" value="Subir cambios">
                    </div>
                </section>
                <section id="segundaSeccion" class="nube">
                    <label for="descripcion">Descripción</label>
                        <textarea  th:field="*{descripcion}" id="descripcion"></textarea>
                        <p class="mensajeError"></p>
                </section>
            </form>
        </main>
    </body>
    <footer th:insert="~{/fragmentos/pie :: nav}"></footer>
</body>
</html>