<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workline | Tus ofertas</title>
    <script src="/js/encabezado.js" defer></script>
    <link rel="stylesheet" href="/css/fragmentosEstilos/encabezadoEstilo.css">
    <link rel="stylesheet" href="/css/fragmentosEstilos/pieEstilo.css">
    <link rel="stylesheet" href="/css/seccionContrataEstilos/indexContrataEstilo.css">
    <script src="/js/contratar/indexContrata.js" defer></script>
</head>
<body>
    <header th:insert="~{/fragmentos/encabezado :: nav}"></header>
    <h1>Tus ofertas</h1>
    <h2 th:text="${numOfertas} + ' ofertas publicadas'"></h2>
    
    <div id="contenedorOfertas">
        <div>
            <a th:href="@{/seccionContrata/pagina/{numPag}/nuevaOferta(numPag=${numPag})}">Nueva oferta</a>
        </div>
        
        <div th:each="oferta:${listaOfertas}" class="oferta" th:id="${oferta.id}">
            <section class="cabeceraOferta">
                <h4 th:text="${oferta.puesto}"></h4>
                <a th:href="@{/seccionContrata/pagina/{numPag}/oferta/editarOferta/{ofertaId}(numPag=${numPag},ofertaId=${oferta.id})}">
                    <img src="/images/contratar/editarB.png" alt="editar.png">
                </a>
                <a th:href="@{/seccionContrata/pagina/{numPag}/oferta/borrarOferta/{ofertaId}(numPag=${numPag},ofertaId=${oferta.id})}">
                    <img src="/images/contratar/borrarB.png" alt="borrar.png">
                </a>
            </section>
            <section>
                <ul>
                    <li><p th:text="${oferta.salarioAnual.intValue()} + ' €'"></p></li>
                    <li><p th:text="${oferta.parsearModalidadTrabajo()}">Presencial</p></li>
                    <li><p th:text="${oferta.parsearTipoContrato()}"></p></li>
                </ul>
                <ul>
                    <li><p th:text="${oferta.ciudad}"></p></li>
                    <li><p th:text="${oferta.parsearFecha()}"></p></li>
                </ul>
            </section>
        </div>
    </div>
    <section id="botonesPaginas">
        <div><a id="anteriorPagContrata" th:href="@{/seccionContrata/anteriorPag/{numPag}(numPag=${numPag})}">🡐  Anterior Página</a></div>
        <span></span>
        <div><a id="siguientePagContrata" th:href="@{/seccionContrata/siguientePag/{numPag}(numPag=${numPag})}">Siguiente Página  🡒</a></div>
    </section>
    <footer th:insert="~{/fragmentos/pie :: nav}"></footer>
</body>
</html>