<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workline | Detalles Oferta</title>
    <script src="/js/encabezado.js" defer></script>
    <link rel="stylesheet" href="/css/fragmentosEstilos/encabezadoEstilo.css">
    <link rel="stylesheet" href="/css/fragmentosEstilos/pieEstilo.css">
    <link rel="stylesheet" href="/css/seccionContrataEstilos/nuevaOfertaEstilo.css">
    <script src="/js/contratar/nuevaOferta.js" defer></script>
</head>
<body>
    <header th:insert="~{/fragmentos/encabezado :: nav}"></header>
    <body>  
        <main>
            <a th:href="@{/seccionContrata/pagina/{numPag}(numPag=${numPag})}">Volver atrás</a>
            <form action="" method="post" id="formularioEdicion"
                th:object="${nuevaOferta}"
                th:action="@{/seccionContrata/pagina/{numPag}/detallesOferta/{ofertaId}/crearNuevaOferta(numPag=${numPag})}">

                <input class="datosOcultos" hidden th:field="*{id}"></input>
                <input class="datosOcultos" hidden th:field="*{requisitos}"></input>
                <input class="datosOcultos" hidden th:field="*{nombreEmpresa}"></input>
                <input class="datosOcultos" hidden th:field="*{fechaPublicacion}"></input>

                <div>
                    <label for="puesto">Puesto</label>
                    <input type="text" th:field="*{puesto}" id="puesto">
                    <p class="mensajeError" id="err1">El puesto no puede tener más de 30 carácteres ni estar vacío</p>
                    
                    <label for="sector">Sector</label>
                    <input type="text" th:field="*{sector}" id="sector">
                    
                    <label for="modalidad">Modalidad de Trabajo</label>
                    <select name="" id="modalidad" th:field="*{modalidadTrabajo}">
                        <option th:value="${mt}" th:text="${mt}" th:each="mt:${modalidadesTrabajo}"></option>
                    </select>

                    <label for="descripcion">Descripción</label>
                    <textarea  th:field="*{descripcion}" id="descripcion"></textarea>
                    <p class="mensajeError" id="err2">La descripción no puede tener más de 50 carácteres</p>
                </div>
                <div>
                    <label for="salarioAnual">Salario Anual</label>
                    <input type="text" th:field="*{salarioAnual}" id="salarioAnual">
                    
                    <label for="tipoContrato">Tipo de Contrato</label>
                    <select name="" id="tipoContrato" th:field="*{tipoContrato}">
                        <option th:value="${tc}" th:text="${tc}" th:each="tc:${tiposContrato}"></option>
                    </select>
                    
                    <label for="horas">Horas</label>
                    <input type="text" th:field="*{horas}" id="horas">

                    <label for="ciudad">Ciudad</label>
                    <input type="text" th:field="*{ciudad}" id="ciudad">
                    <p class="mensajeError" id="err3">La ciudad no puede ser nula</p>

                    <input type="submit" id="subirCambios" value="Subir cambios">
                </div>
            </form>
        </main>
    </body>
    <footer th:insert="~{/fragmentos/pie :: nav}"></footer>
</body>
</html>