body{
    background-color: #F5F5F5;
}

#botonDesplegableOfertas{
    display: none;
    padding-left: 20px;
    padding-top: 30px;
    font-size: 25px;
}

#origenOfertas{
    display: grid;
    grid-template-columns: 30% 70%;
    padding-top: 10px;
    margin: 1% 0%;
}

#origenOfertas form{
    display: grid;
    grid-template-columns: 75%;
    justify-content: center;

    width: 70%;
    margin: 0% 0% 0% auto;
    padding-top: 20px;
    padding-bottom: 16px;

    background-color: white;
    border-radius: 8px;
    /* box-shadow: 0 0 11px rgba(0, 0, 0, 0.5); */
}

#origenOfertas form a{
    justify-self: end;
    text-decoration: none;
    color:black ;
    font-size:20px;
    margin-bottom: 10px;
    cursor: pointer;
}

#origenOfertas form label{
    color: black;
    font-size: 25px;
    margin-bottom: 4px;  
}

#origenOfertas form input , #origenOfertas form select{
    border: 0px;
    border-bottom: solid 1px black;
    margin-bottom: 8%;
    font-size: 19px;
}

#origenOfertas form select{
    height: 35px;
    font-size: 16px;
}

#origenOfertas form input#ejecutarBusqueda{
    border: 0px;
    border-radius: 8px;
    width: 80%;
    margin: 3% auto 3%;
    padding: 3% 4%;

    background-color: green;
    color: white;
    font-size: 18px;
}

#origenOfertas > h2{
    text-align: center;
    font-weight: normal;
    font-size: 30px;
    margin: 0% auto 2% 4%;
    width: 80%;
}

#listaOfertas{
    display: grid;
    grid-template-columns: 100%;

}

.oferta{
    margin:0% 4% 2%; 
    width: 80%;
    padding: 0.5% 2%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
    cursor: pointer;
}

.oferta:hover{
    background-color: #F3F9FB;
    transition: 0.5s;
}

.oferta p{
    margin: 0px;
}

.oferta > section:first-child{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 50px;
    align-items: center;
}

.oferta > section:first-child h4{
    font-size: 28px;
    font-weight: normal;
    margin: 0px;
}

.oferta > section:first-child p{
    justify-self: end;
    font-size: 22px;
}

.oferta > section:nth-child(2) p{
    font-size: 22px;
}

.oferta > section:nth-child(3){
    display: grid;
    grid-template-columns: 8% 11% 60% 21%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.oferta > section:nth-child(3) p:nth-child(1){
    margin-right: 15px;
}

.oferta > section:nth-child(3) p:nth-child(2){
    border-left: solid 1px black;
    border-right: solid 1px black;
    text-align: center;

}

.oferta > section:nth-child(3) p:nth-child(3){
    padding-left: 12px;
}

.oferta > section:nth-child(3) p{
    font-size: 18px;
}

.oferta > section:nth-child(3) p:last-child{
    justify-self: end;
}

#botonesPaginas{
    width: 85%;
    display: flex;
    flex-direction: row;
    margin: 3.5% auto;
    justify-content: center;
    align-items: center;
}

#botonesPaginas > div{
    width: 8%;
}

#botonesPaginas a{
    cursor: pointer;
    display: block;
    width: 20%;
    margin: auto auto 0%;

    text-decoration: none;
    text-align: center;
    font-size: 20px;
    color: black;

    border: solid 1px green;
    border-radius: 40px;
    padding: 8%;
}

#botonesPaginas #anteriorPag,#botonesPaginas #siguientePag{
    width: 70%;
    border-radius: 4px;
    padding: 5%;
    font-size: 25px;

    background-color: green;
    color: white;
}

@media screen and (max-width:1500px) {
    
    #origenOfertas > aside{
        display: none;
    }

    #origenOfertas{
        grid-template-columns: 95%;
        justify-content: center;
    }

    #origenOfertas > div{
        padding-right: 0px;
    }

    #origenOfertas > h2{
        width:100%;
        text-align: center;
        margin: 0%;
        margin-bottom: 4%;
    }

    #listaOfertas{
        justify-content: center;
    }

    #listaOfertas > div{
        margin: 0% auto 2%;
    }

    #mySideNav,#botonDesplegableOfertas{
        display: block;
    }

    .oferta{
        width: 85%;
        padding: 1% 4%;
    }

    .oferta > section:nth-child(3){
        grid-template-columns: 15% 22% 40% 25%;
    }

    #botonesPaginas{
        width: 100%;
        margin: 5% auto;
    }

}

@media screen and (max-width:700px) {

    #origenOfertas > h2{
        margin-top: 3%;
    }

    #listaOfertas > .oferta{
        margin: 3% auto;
    }

    .oferta > section:nth-child(1){
        margin: 3% 0%;
    }

    .oferta > section:nth-child(3){
        grid-template-columns: 30% 50% 20%;
    }

    .oferta > section:nth-child(3) > p:nth-child(2){
        display: none;
    }

    .oferta > section:nth-child(3) > p:nth-child(3){
        margin-left: 0px;
        padding-left: 20px;
    }

    #botonesPaginas a{
        width: 40%;
    }

    #botonesPaginas > div:first-child,  #botonesPaginas > div:last-child{
        width: 20%;
    }

    #botonesPaginas > div{
        width: 18%;
    }

}