#buttonNav{
    display: none;
    background-color: #F5F5F5;
    padding-left: 20px;
    padding-top: 30px;
    font-size: 25px;
}

#origenOfertas{
    display: grid;
    grid-template-columns: 28% 72%;
    background-color: #F5F5F5;
    padding-top: 10px;
}

#origenOfertas form{
    display: grid;
    grid-template-columns: 75%;
    justify-content: center;

    width: 80%;
    margin: 40px auto;
    padding-top: 20px;
    padding-bottom: 16px;

    background-color: rgb(148, 147, 147);
    border-radius: 5px;
    /* box-shadow: 0 0 11px rgba(0, 0, 0, 0.5); */
}

#origenOfertas form a{
    justify-self: end;
    text-decoration: none;
    color:white;
    font-size:20px;
    margin-bottom: 10px;
    cursor: pointer;
}

#origenOfertas form label{
    color: white;
    font-size: 25px;
    margin-bottom: 4px;  
}

#origenOfertas form input{
    border: 0px;
    margin-bottom: 10px;
    height: 28px;
}

#origenOfertas form select{
    height: 35px;
    border: 0px;
    margin-bottom: 10px;
}

#ejecutarBusqueda{
    margin: 10px 50px;
    height: 40px !important;
    font-size: 17px !important;
    cursor: pointer;
}

#origenOfertas > div{
    padding-right: 70px;
}

#origenOfertas div h2{
    text-align: center;
    font-weight: normal;
    font-size: 30px;
    margin-top:45px;
}

#listaOfertas{
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
}

.oferta{
    margin: auto auto 25px;
    width: 80%;
    padding: 5px 25px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
    cursor: pointer;
}

.oferta p{
    margin: 0px;
}

.oferta > section:first-child{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 50px;
    align-items: center;
}

.oferta > section:first-child h4{
    font-size: 28px;
    font-weight: normal;
    margin: 0px;
}

.oferta > section:first-child p{
    justify-self: end;
    font-size: 22px;
}

.oferta > section:nth-child(2) p{
    font-size: 22px;
}

.oferta > section:nth-child(3){
    display: grid;
    grid-template-columns: 8% 11% 60% 20%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.oferta > section:nth-child(3) p:nth-child(1){
    margin-right: 15px;
}

.oferta > section:nth-child(3) p:nth-child(2){
    border-left: solid 1px black;
    border-right: solid 1px black;
    text-align: center;

}

.oferta > section:nth-child(3) p:nth-child(3){
    padding-left: 12px;
}

.oferta > section:nth-child(3) p{
    font-size: 18px;
}

.oferta > section:nth-child(3) p:last-child{
    justify-self: end;
}

#botonesPaginas{
    display: grid;
    grid-template-columns:49% 2% 49%;
    background-color: #F5F5F5;
    margin-bottom: 40px;
    margin-top: 30px;
}

#botonesPaginas div:first-child{
    justify-self: end;
}

#botonesPaginas span{
    justify-content: center;
}

#botonesPaginas button{
    padding: 12px 25px;
    background-color: #1eb56c;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border: 0px;
}


@media screen and (max-width:1500px) {
    
    #origenOfertas > aside{
        display: none;
    }

    #origenOfertas{
        grid-template-columns: 95%;
        justify-content: center;
    }

    #origenOfertas > div{
        padding-right: 0px;
    }

    #mySideNav,#buttonNav{
        display: block;
    }

    .oferta > section:nth-child(3){
        grid-template-columns: 11% 17% 48% 25%;
    }
}

@media screen and (max-width:700px) {

    .oferta > section:nth-child(3){
        grid-template-columns: 21% 59% 20%;
    }

    .oferta > section:nth-child(3) > p:nth-child(1){
        border-right: solid 1px black;
    }

    .oferta > section:nth-child(3) > p:nth-child(2){
        display: none;
    }

    .oferta > section:nth-child(3) > p:nth-child(3){
        margin-left: 0px;
        padding-left: 20px;
    }

    #botonesPaginas{
        grid-template-columns: 48% 48%;
        justify-content: center;
    }

    #botonesPaginas div:first-child{
        margin-right: 5px;
    }

    #botonesPaginas div:last-child{
        margin-left: 5px;
    }

    #botonesPaginas span{
        display: none;
    }

    #botonesPaginas button{
        padding: 12px 14px;
        font-size: 15px;
    }
}