#mySidenav {
    height: 100%; 
    width: 0; 
    position: fixed; /* Stay in place */
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.8s; 
  }
  
  /* Position and style the close button (top right corner) */
#closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: white;
  }
  

  /*Estilos formulario*/

  #mySidenav{
    background-color: rgb(155, 154, 154);
  }

  #mySidenav form > *{
    margin-left: 30px;
  }

  #mySidenav label{
    color: white;
    font-size: 23px;

    margin-bottom: 5px;
    margin-top: 15px;
  }

  #mySidenav form{
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
  }

  #mySidenav form input{
    margin-bottom: 10px;

    width: 70%;
    height: 30px;

    font-size: 16px;
    border: 0px;
  }

  #mySidenav form select{
    width: 71%;
    height: 35px;
    border: 0px;
  }

  @media screen and (max-width:700px) {
    #mySidenav form > *{
      margin-left: 35px;
    }
  }
