#desplegableOfertas {
    height: 100%; 
    width: 0; 
    position: fixed; /* Stay in place */
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 1s; 
  }
  
  /* Position and style the close button (top right corner) */
#cerrarBotonOfertas {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: white;
  }
  

  /*Estilos formulario*/

  #desplegableOfertas{
    background-color: rgb(155, 154, 154);
  }

  #desplegableOfertas form > *{
    margin-left: 30px;
  }

  #desplegableOfertas label{
    color: white;
    font-size: 23px;

    margin-bottom: 5px;
    margin-top: 15px;
  }

  #desplegableOfertas form{
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
  }

  #desplegableOfertas form a{
    justify-self: end;
    text-decoration: none;
    color:white;
    font-size: 19px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 55px;
    cursor: pointer;
  }


  #desplegableOfertas form input{
    margin-bottom: 10px;

    width: 60%;
    height: 30px;

    font-size: 16px;
    border: 0px;
  }

  #desplegableOfertas form select{
    width: 61%;
    height: 35px;
    border: 0px;
  }

  #desplegableOfertas #ejecutarBusqueda {
    margin-top: 6%;
    width: 50%;
  }

  @media screen and (max-width:700px) {
    #desplegableOfertas form > *{
      margin-left: 35px;
    }

    #desplegableOfertas form input{
      width: 75%;
    }

    #desplegableOfertas form select{
      width: 76%;
    }
  }
